@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
$text:#404040;
$text-alpha:#808080;
$border: #E6E6E6;
$bg-gray: #F5F7FA;
$brand: #E22127;

.menu-mobile, .filter-mb {
    display: none;
}
@media only screen and (max-width: 1701px) {
    header{
        padding: 10px;
    }
   
    .menu nav ul li a {
        padding: 0 12px;
    }
    .hotline a {
        font-size: 18px;
    }
    header .btn-common-fill{
        padding: 0 12px;
    }
}
@media only screen and (max-width: 1601px) {
    .account a span {
        display: none;
    }
    header .btn-common-fill{
        font-size: 14px;
    }
    .hotline a {
        font-size: 15px;
    }
   
}
@media only screen and (max-width: 1400px) {
    .menu nav ul li a{
        padding: 0 10px;
        font-size: 13px;
    }
    .content-head-right .hotline, .content-head-right .btn-start-project, .content-head-right .account {
        margin: 0 20px 0 5px;
    }

}
@media only screen and (max-width: 1280px) {
    .close-menu, .menu nav  {
        display: none;
    }
    .menu-mobile {
        display: block;
        position: fixed;
        top: 15px;
        right: 15px;
        text-align: center;
        z-index: 9;
        i{
            font-size: 22px;
            font-weight: 600;
            &.ti-align-left{
                display: block;
                &::before {
                    content: " ";
                    display: inline-block;
                    background: url(../images/ic-menu-mb.svg) center top no-repeat;
                    background-size: contain;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    .account .dropdown-avatar {
        top: 40px;
    }
    .account.done-login .title-acc {
        width: fit-content;
    }
    .account .avatar-acc {
        width: 30px !important;
        height: 30px !important;
    }
    .content-head-right {
        padding-left: 0;
        padding-right: 35px;
    }
    .show-menu {
		.menu-mobile {
		  i {
			&.ti-close {
              display: block !important;
              margin-top: 5px;
              margin-right: 5px;
			}
			&.open-menu {
			  display: none !important;
			}
		  }
        }
        .menu nav {
            display: block;
            border-top: 1px solid $text;
            position: fixed;
            left: 0;
            top: 60px;
            width: 100%;
            height: auto;
            background: #FFFFFF;
            box-shadow: 0px 14px 23px rgba(0, 0, 0, 0.09);
            border-top: 0;
            padding: 0 0 20px 0 !important;
            scroll-behavior: smooth;
            transition: all 0.2s ease-in-out;;
            .btn-action a{
                    margin-left: 15px;
                }
            ul {
            display: inline-block !important;
            width: 100%;
            li {
                text-align: center;
                width: 140px;
                float: left;
                border: 1px solid #C4C8D3;
                border-radius: 4px;
                margin: 10px;
                a {
                    font-size: 15px;
                    transition: unset;
                    display: inherit;
                    padding: 0 20px;
                }
            }
            }
            
        }
       
      } 
    
    .box-info-rating {
        padding-left: 345px;
    }
    .list-process .item-process:nth-child(4) {
        padding: 75px 30px 150px;
    }
    .title-section h2{
        font-size: 35px;
    }
    .filter-pc{
        display: none;
    }
    
    .filter-mb{
        display: flex;
        width: 100%;
        background-color: $bg-gray;
        padding: 5px 0;
        border-radius: 4px;
        margin-bottom: 22px;
    
        .custom-select{
            padding: 0;
            padding-right: 15px;
            height: inherit;
            border: 0;
        
        }
        .select-items {
            border-top: 1px solid $brand;
            //width: 200px;
            div{
                color: $text-alpha;
                padding-right: 3px;
            } 
        }
        .select-selected{
            color: $text;
        }
    }
    .content-page-list{
        .col-md-3, .col-md-9{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .tab-custom{
        .nav-tabs{
            margin-left: -10px;
        }
        .content-page-list .nav-tabs{
            margin-left: 0;
        }
        .tab-content {
            margin: 20px 10px;
        }
    } 
    .list-doi-tac img {
        margin: 10px ;
    }
    .thanh-tuu .col-right-number{
        .list-number{
            height: 190px;
        }
        h2 {
            font-size: 50px !important;
            span {
                font-size: 22px;
                margin-left: 5px;
            }
        }
    }
    .slider-du-an .col-right-du-an .du-an {
        margin: 0 5px 10px 0;
    }
    .img-background img {
        width: 940px;
    }
    .how-we-work ul li .item-how-work h4 {
        height: 75px;
    }
    .list-sp-hoan-thien li img {
        height: 100%;
    }
    .show-menu .menu nav ul li {
        width: 150px;
    }
}
@media only screen and (max-width: 950px) {
    .show-menu .menu nav ul li {
        width: 172px;
    }
    .box-info-rating {
        padding-left: 340px;
    }
    .section-detail-list .rating-social .like-share {
        margin-left: 0;
    }
    .tab-custom.tab-page-list{
        nav{
            margin-left: 0;
        }

    }
    .page-account{
        .tab-system .nav-tabs{
            justify-content: left;
            .nav-link{
                width: 100%;
            }
        }
        .tab-system .ten-sp {
            display: inherit;
        }
    } 
    .list-process {
        padding: 30px 20px 0 30px;
        .item-process{
            padding: 20px 30px 10px 30px;
            img {
                height: 44px;
            }
            &:nth-child(4) {
                padding: 25px 30px 100px;
            }
            &:nth-child(3) {
                padding: 30px 30px 40px;
            }
            &:nth-child(2) {
                padding: 15px 30px 30px 30px;
            }
        }
    }
    .section-cong-cu-sd.frontend-backend .list-doi-tac img {
        height: 80px;
        margin: 20px 10px;
    }

    .section-sitemap img {
        width: 50%;
        padding-right: 5px;
        float: left;
    }
    .page-list{
        .item-print{
            margin-bottom: 20px;
        }
    }
    h1{
        font-size: 45px !important;
    }
    h2{
        font-size: 35px !important;
    }
    h3{
        font-size: 24px !important;
    }
    h4{
        font-size: 18px !important;
    }
    h5{
        font-size: 16px !important;
    }
    h6{
        font-size: 15px !important;
    }
    br{
        display: none;
    }
    .content-head-right .hotline{
        display: none;
    }
    .section-banner-home{
        padding-top: 60px;
        .row{
            padding-top: 20px;
        }
        .col-md-6 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .slider-homepage{
            margin-top: 30px;
        }
        .content-banner-left{
            padding-right: 100px;
        }
    }
    .section-list-cate .row.list-cate {
        margin: 0 0 0 -25px;
        .col-md-3 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
    .item-cate {
        padding: 30px 5px 30px 20px;
        img {
            height: 50px;
        }
    }
    .spinner-container {
        left: -5px;
    }
    .section-detail-list{
        .col-md-8{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .box-tab-info-product-pc{
            display: none;
        }
        .box-tab-info-product-mb{
            display: block;
            margin-top: 20px;
        }
    }
    .description-body, .content-rating {
        height: 280px;
    }
    .expand-content-editor, .expand-content-editor-rating {
        height: 280px;
    }
    .label-popular {
        width: 60px;
        right: 14px;
        top: 0;
    }
    .list-item {
        padding: 15px;
        li {
            margin: 8px 0;
        }
        .price-list-banner {
            margin: 5px 0;
        }
        .list-info-item {
            margin-top: 10px;
        }
    }
    .head-item{
        .title-item {
            padding-left: 5px;
        }
        img {
            height: 55px;
        }
    } 
    .img-background img {
        display: none;
      }
      .how-we-work {
          padding-bottom: 20px;
        ul{
            margin-top: 20px;
            li{
                width: 50%;
                margin-bottom: 10px;
              &:nth-child(odd) {
                margin-top: 0;
            }
                .item-how-work h4 {
                    height: 30px;
                }
            }
          } 
      }
      .section-request .section-bg-logo{
       
        .bg-logo {
            height: 200px;
            
        }
      } 
      .item-print {
        padding: 20px;
      }
    
}

@media only screen and (max-width: 767px) {
    .list-du-an-hoan-thanh{
        margin-top: 10px;
        .item-news{
            padding-left: 0;
            .avatar-thumb{
                position: inherit;
                width: 100%;
            }
            .info-news{
                padding-top: 15px;
            }
            .title-news{
                margin-bottom: 5px;
                &.lagre-news a {
                    font-size: 16px;
                }
            }
        }
    }
    .section-request {
        padding: 40px 0;
    }
    .mini-cart .scrollbar {
        height: 45vh;
        padding-bottom: 0;
    }
    .slider-csvc-about{
        .carousel-control-next {
            right: 0;
        }
        .carousel-control-prev {
            left: 0;
        }
    } 
    .slider-show-full-img {
        .owl-item img {
            margin-bottom: 20px;
        }
    }
    .box-detail-hoa-don{
        display: initial;
        .box-border-acc {
            min-height: 100%;
            max-width: 100%;
            margin-top: 10px;
        }
    }
    .page-account{
        .title-order-details {
            margin-top: 20px;
        }
        .label-hoan-tat, .label-chua-hoan-thanh{
            white-space: nowrap;
        }
        .tab-system{
            .ten-sp {
                display: flex;
            }
            thead th {
                padding: 8px 10px 8px 5px;
                white-space: nowrap;
                
            }
        } 
    } 
    .section-body-news{
        .row{
            flex-direction: column-reverse;
        }
    }
    .page-news .item-news{
        padding-left: 175px;
        .avatar-thumb {
            width: 160px;
        }

        .date-time-news p {
            margin-bottom: 0;
        }
        .title-news {
            margin-bottom: 0;
            a {
                -webkit-line-clamp: initial;
                font-size: 14px;
            }
        }
        &.lagre-news{
            .title-news a{
                font-size: 20px;
            }
        }
    } 
    .page-faqs{
        .tab-profile .nav-tabs{
            display: flex;
            overflow-x: scroll;
            height: auto;
            white-space: nowrap;
            width: 100%;
            flex-wrap: unset;
            justify-content: left;
            a{
                padding-right: 15px;
            }
        }
    }
    .list-doi-ngu{
        .col-md-3{
            width: 50%;
        }
    }
    .slider-csvc-about .item__third {
        padding: 0;
    }
    .process-section-about{
        .list-process {
            display: inline-block;
            position: initial;
            .item-process{
                padding: 30px 30px 30px 30px;
                .about-procees1{
                    top: 0px;
                    left: 30px;
                    &::before {
                        top: 0;
                        left: -40px;
                    }
                }
                &:nth-child(2){
                    padding-top: 40px;
                }
                &:nth-child(4) {
                    padding: 25px 30px 20px;
                }
            } 
        }
        .bg-red {
            min-height: auto;
        }
    } 
    .list-process{
        display: initial;
        position: initial;
    }
    .list-info-value p {
        line-height: 20px;
    }
    .section-intro-value{
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .page-list-service{
        margin-top: -30px;
        .box-banner{
            margin-bottom: 10px;
        }
        .list-info-item {
            padding-bottom: 0;
            min-height: initial;
            
        }
    }
    .breadcrumbs {
        margin-top: 45px;
    }
.section-sitemap img {
    width: 100%;
    padding-right: 0;
    float: none;
}
    .section-cong-cu-sd.frontend-backend .list-doi-tac img{
        height: 40px;
        margin: 10px;
    }
    .section-sitemap{
        padding-bottom: 0;
    }
    .box-empty-project .img-ic-empty {
        height: 100%;
        width: 100%;
    }
    #id-du-an-hoan-thanh .btn-common-fill {
        max-width: 100%;
        width: fit-content;
    }
    .section-same-project{
        padding-top: 10px;
        .list-du-an-hoan-thanh{
            margin-top: 10px;
        }
        .item-news {
            border: 0;
            margin-bottom: 35px;
            .info-news {
               padding-top: 0;
            }
        }
    } 
    .section-red-full, .section-ux-research{
        .list-print {
            margin-top: 0 !important;
        }
        .img-icon-item{
            position: initial !important;
        }
    }
    .detail-uiux-website{
        ul {
            margin-top: 0;
            li {
                width: 50%;
            }
        }
    }
    .intro-head-title {
        margin: 20px 0 15px 0;
    }
    .section-page-list-template{
        .content-page-list.banner-theo-mau {
            margin-top: 5px;
            .page-list-project {
                margin: 0; 
            }
        }
    }
    .box-banner .info-box-banner {
        padding: 6px 15px 6px 20px;
        .title-box-banner {
            font-size: 18px;
        }
        .head-item {
            margin-top: 6px;
        }
    }
  .page-list{
      .list-print{
          margin-top: -20px;
          .item-print{
              padding-left: 60px;
              .img-icon-item{
                position: absolute;
                left: 8px;
                top: 20px;
                height: 45px;
              }
          }
      }
  }
    h1{
        font-size: 32px !important;
    }
    h2{
        font-size: 24px !important;
    }
    .section-banner-home{
        padding-bottom: 5px;
        .content-banner-left {
            padding-right: 0;
        }
    }
    .rating-bar{
        .middle{
            width: 100%;
        }
        .bar-container {
            width: 100%;
        }
    } 
    .img-uiux-website{
        margin-top: 10px;
    }
    .two-col-btn .btn-action {
        width: 100%;
        margin-bottom: 10px;
      a{
          width: 100%;
      }
    }
    .section-list-cate .row.list-cate {
        margin-right: 5px;
        .col-md-3 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            padding-right: 5px;
        }
    }
    .item-cate {
        margin: 10px;
        .title-cate{
            font-size: 15px;
            margin-top: 10px;
        }
        img {
            height: 35px;
        }
    }
    .content-head-right .btn-start-project {
        display: none;
    }
    .hotline-footer img {
        height: 20px;
        margin-right: 5px;
       
    }
    .footer-top{
        .col-md-2{
            display: none;
            &:last-child{
                display: block;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        ul{
            margin-bottom: 10px;
            margin-top: 0;
            display: inline-block;
            li{
                float: left;
                width: 50%;
                a{
                    margin-bottom: 3px;
                }
            }
        }
    }
    .section-banner-info-home{
        .flex-center{
            display: initial;
        }
        .col-left-info-home {
            width: 100%;
            padding-right: 0;
        }
        .avatar-thumb {
            width: 100%;
        }
    }
    .list-doi-tac img {
        height: 35px;
    }
    .thanh-tuu{
        padding-top: 40px;
        .col-right-number {
            padding-left: 0;
            .list-number{
                height: 100%;
                padding: 20px 12px;
                p {
                    -webkit-line-clamp: initial;
                }
            } 
        }
    }
    footer{
        padding-top: 20px;
        .line-footer {
            display: none;
        }
        .info-right-ft {
            display: initial;
        }
        .hotline-footer {
            padding: 5px 5px 10px 0;
            display: inline-block;
            position: relative;
            padding-left: 20px;
            img{
                position: absolute;
                left: 0;
                top: 6px;
            }
            &:first-child{
                padding-left: 0;
            }
        }
        .footer-bottom{
            padding-left: 0;
            .logo-footer {
                position: initial;
                margin-bottom: 10px;
                height: 40px;
            }
            .title-footer-bottom{
                padding-left: 0 !important;
            }
            
        }
        .info-footer-bottom{
            justify-content: left;
        }
    } 
    .content-head-right{
        padding-top: 5px;
    }
    .menu-mobile{
        top: 16px;
    }
    .menu nav ul li {
        position: relative;
        list-style: none;
        padding: 5px 0;
    }
    .show-menu .menu nav{
        top: 50px;
        ul {
            text-align: center;
            li {
                width: 30%;
                margin: 6px;
                a{
                    font-size: 13px;
                    padding: 0 5px;
                }
            }
        }
    } 
    .item-news .title-news a{
        -webkit-line-clamp: initial;
    }
    .item-news.item-news-right {
        padding-left: 160px;
        min-height: initial;
        .avatar-thumb {
            width: 150px;
        }
    }
    .slider-du-an {
        .row .col-md-6:last-child{
            padding-right: 0;
        }
        .col-right-du-an .du-an {
            width: 47%;
        }
    }
    .section-page-list-template{
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .slider-page-list .avatar-thumb a, .slider-process .avatar-thumb a {
        padding-top: 56%;
    }
    .pagging-page ul li a, .pagging-page ul li span {
        margin: 0 5px;
    }
    .tab-custom .tab-content {
        margin: 10px;
    }
    .pagging-page .pagination{
        margin-top: 0;
    }
    .section-detail-list{
        padding-top: 30px;
        .row.mt-20{
            margin-top: 0;
        }
        .rating-social{
            display: initial;
            .like-share {
                display: inline-flex;
                height: 20px;
                margin-top: 10px;
            }
        }
        .tab-content {
            padding: 18px;
        }
    }
    .slider-product-detail{
        .lSAction > .lSNext{
            right: 0;
        }
        .lSAction > .lSPrev{
            left: 0;
        }
        .lSSlideOuter .lSPager.lSGallery img {
            height: 28px;
        }
    } 
    .huong-dan-dat-hang {
        display: inherit;
        padding: 20px;
        li {
            width: 100%;
            padding-right: 0;
            display: flex;
            position: relative;
            padding-bottom: 50px;
            margin-bottom: 25px;
            .number-step-hd {
                margin-right: 10px;
                width: 24px;
                height: 24px;
                font-size: 14px;
                position: relative;
                margin-bottom: 0;
            }
            img {
                height: 50px;
                margin-right: 18px;
            }
            span{
                position: absolute;
                bottom: 0;
                left: 0;
            }
            .fw-bold{
                position: absolute;
                top: 30px;
                left: 70px;
            }
        }
    }
    .box-info-rating {
        padding-left: 0;
        .info-rating-left {
            position: initial;
        }
        .info-rating-right .list-img-product img {
            height: 50px;
            width: 60px;
        }
    }
    .box-danh-gia .flex-center {
        display: initial;
        p {
            margin: 0 0 15px 0 !important;
        }
    }
    .mini-cart-right {
        width: 100%;
    }
    .detail-rating {
        padding: 0 0 20px 40px;
        margin-bottom: 10px;
        &.rating-sub {
            margin: 20px 0 20px 10px;
        }
        .ava-rating {
            height: 32px;
        }
    }
    .detail-rating-right{
       
        .flex-center{
            display: flex;
            .name-user-rating {
                margin-bottom: 0 !important;
            }
        }
    } 
    .payment{
        .mini-cart{
            margin-top: 20px;
        }
    }
    .box-hinh-thuc-tt .info-taikhoan {
        padding-left: 0;
        .flex-tktt {
            padding-left: 80px;
            .img-tknh {
                height: 40px;
            }
        }
    }
    .qr-code img {
        height: 16px;
    }
    .title-success img {
        height: 80px;
    }
    .payment-success .mini-cart {
        max-width: 100%;
    }
    .box-view-more-img {
        width: 60px;
        height: 50px;
        padding: 0;
    }
    .how-we-work ul li .item-how-work h4 {
        font-size: 13px !important;
    }
    .section-cong-cu-sd .list-doi-tac img {
        height: 40px;
    }
    .item-news {
        margin-bottom: 20px;
        padding-left: 160px;
        .info-news {
            padding: 0;
        }
        .title-news.lagre-news a {
            font-size: 15px;
        }
        .avatar-thumb{
            width: 150px;
            position: absolute;
            left: 0;
            top: 0;
            a{
                padding-top: 56%;
            }
        }
        &.lagre-news{
            padding-left: 0 !important;
            .avatar-thumb{
                width: 100%;
                position: initial;
            }
        }
       
    }
    #id-du-an-hoan-thanh{
        .btn-action {
            margin-bottom: 0 !important;
        }
    }
    .section-request{
        p{
            font-size: 14px;
            line-height: 22px;
        }
        
    }
    .menu-tab{
        ul{
            padding-top: 0;
            justify-content: left;
            li{
                padding: 10px;
                a {
                    font-size: 13px;
                }
            }
        }
        &.menu-scroll {
            top: 55px;
        }
    }
    .title-section.small-text h2 span {
        font-size: 28px;
    }
    
    .section-red-full{
        .bg-logo{
            display: none;
        }
    }
    .section-bg-logo, .section-ux-research{
       
        .list-print{
            position: initial;
            .col-md-3{
                width: 50%;
            }
            .item-print{
                padding: 10px;
                margin: 5px 0;
                p{
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {

    h1{
        font-size: 25px !important;
    }
    p{
        font-size: 14px;
    }
    .section-banner-home .content-banner-left {h1{
        margin-bottom: 10px;
    }
        p {
            font-size: 16px;
            line-height: 26px;
        }
    }
    .list-doi-tac img {
        height: 35px;
    }
    .show-menu .menu nav{
        ul {
            li {
                width: 30%;
                margin: 5px;
                a{
                    font-size: 12px;
                    padding: 0 5px;
                }
            }
        }
    } 
    .filter-mb{
        .select-items div, .select-selected {
            padding: 8px;
            font-size: 13px;
        }
    }
   
    .content-page-list.banner-theo-mau {
        margin-top: 15px;
    }
    .page-list .nav-tabs .nav-link{
        font-size: 14px;
        padding: 10px 20px !important;
        display: flex;
        align-items: center;
    }
    .box-banner .info-box-banner {
        padding: 15px 10px;
    }
    .head-item .title-item a {
        margin-right: 0;
    }
    .label-popular {
        width: 38px;
        right: 20px;
        top: -22px;
    }
    .payment{
        .list-img-product img {
            height: 35px;
            max-width: 55px;
            margin-right: 3px;
        }
    }
}