@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.menu-mobile, .filter-mb {
  display: none; }

@media only screen and (max-width: 1701px) {
  header {
    padding: 10px; }

  .menu nav ul li a {
    padding: 0 12px; }

  .hotline a {
    font-size: 18px; }

  header .btn-common-fill {
    padding: 0 12px; } }
@media only screen and (max-width: 1601px) {
  .account a span {
    display: none; }

  header .btn-common-fill {
    font-size: 14px; }

  .hotline a {
    font-size: 15px; } }
@media only screen and (max-width: 1400px) {
  .menu nav ul li a {
    padding: 0 10px;
    font-size: 13px; }

  .content-head-right .hotline, .content-head-right .btn-start-project, .content-head-right .account {
    margin: 0 20px 0 5px; } }
@media only screen and (max-width: 1280px) {
  .close-menu, .menu nav {
    display: none; }

  .menu-mobile {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    text-align: center;
    z-index: 9; }
    .menu-mobile i {
      font-size: 22px;
      font-weight: 600; }
      .menu-mobile i.ti-align-left {
        display: block; }
        .menu-mobile i.ti-align-left::before {
          content: " ";
          display: inline-block;
          background: url(../images/ic-menu-mb.svg) center top no-repeat;
          background-size: contain;
          width: 30px;
          height: 30px; }

  .account .dropdown-avatar {
    top: 40px; }

  .account.done-login .title-acc {
    width: fit-content; }

  .account .avatar-acc {
    width: 30px !important;
    height: 30px !important; }

  .content-head-right {
    padding-left: 0;
    padding-right: 35px; }

  .show-menu .menu-mobile i.ti-close {
    display: block !important;
    margin-top: 5px;
    margin-right: 5px; }
  .show-menu .menu-mobile i.open-menu {
    display: none !important; }
  .show-menu .menu nav {
    display: block;
    border-top: 1px solid #404040;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 14px 23px rgba(0, 0, 0, 0.09);
    border-top: 0;
    padding: 0 0 20px 0 !important;
    scroll-behavior: smooth;
    transition: all 0.2s ease-in-out; }
    .show-menu .menu nav .btn-action a {
      margin-left: 15px; }
    .show-menu .menu nav ul {
      display: inline-block !important;
      width: 100%; }
      .show-menu .menu nav ul li {
        text-align: center;
        width: 140px;
        float: left;
        border: 1px solid #C4C8D3;
        border-radius: 4px;
        margin: 10px; }
        .show-menu .menu nav ul li a {
          font-size: 15px;
          transition: unset;
          display: inherit;
          padding: 0 20px; }

  .box-info-rating {
    padding-left: 345px; }

  .list-process .item-process:nth-child(4) {
    padding: 75px 30px 150px; }

  .title-section h2 {
    font-size: 35px; }

  .filter-pc {
    display: none; }

  .filter-mb {
    display: flex;
    width: 100%;
    background-color: #F5F7FA;
    padding: 5px 0;
    border-radius: 4px;
    margin-bottom: 22px; }
    .filter-mb .custom-select {
      padding: 0;
      padding-right: 15px;
      height: inherit;
      border: 0; }
    .filter-mb .select-items {
      border-top: 1px solid #E22127; }
      .filter-mb .select-items div {
        color: #808080;
        padding-right: 3px; }
    .filter-mb .select-selected {
      color: #404040; }

  .content-page-list .col-md-3, .content-page-list .col-md-9 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .tab-custom .nav-tabs {
    margin-left: -10px; }
  .tab-custom .content-page-list .nav-tabs {
    margin-left: 0; }
  .tab-custom .tab-content {
    margin: 20px 10px; }

  .list-doi-tac img {
    margin: 10px; }

  .thanh-tuu .col-right-number .list-number {
    height: 190px; }
  .thanh-tuu .col-right-number h2 {
    font-size: 50px !important; }
    .thanh-tuu .col-right-number h2 span {
      font-size: 22px;
      margin-left: 5px; }

  .slider-du-an .col-right-du-an .du-an {
    margin: 0 5px 10px 0; }

  .img-background img {
    width: 940px; }

  .how-we-work ul li .item-how-work h4 {
    height: 75px; }

  .list-sp-hoan-thien li img {
    height: 100%; }

  .show-menu .menu nav ul li {
    width: 150px; } }
@media only screen and (max-width: 950px) {
  .show-menu .menu nav ul li {
    width: 172px; }

  .box-info-rating {
    padding-left: 340px; }

  .section-detail-list .rating-social .like-share {
    margin-left: 0; }

  .tab-custom.tab-page-list nav {
    margin-left: 0; }

  .page-account .tab-system .nav-tabs {
    justify-content: left; }
    .page-account .tab-system .nav-tabs .nav-link {
      width: 100%; }
  .page-account .tab-system .ten-sp {
    display: inherit; }

  .list-process {
    padding: 30px 20px 0 30px; }
    .list-process .item-process {
      padding: 20px 30px 10px 30px; }
      .list-process .item-process img {
        height: 44px; }
      .list-process .item-process:nth-child(4) {
        padding: 25px 30px 100px; }
      .list-process .item-process:nth-child(3) {
        padding: 30px 30px 40px; }
      .list-process .item-process:nth-child(2) {
        padding: 15px 30px 30px 30px; }

  .section-cong-cu-sd.frontend-backend .list-doi-tac img {
    height: 80px;
    margin: 20px 10px; }

  .section-sitemap img {
    width: 50%;
    padding-right: 5px;
    float: left; }

  .page-list .item-print {
    margin-bottom: 20px; }

  h1 {
    font-size: 45px !important; }

  h2 {
    font-size: 35px !important; }

  h3 {
    font-size: 24px !important; }

  h4 {
    font-size: 18px !important; }

  h5 {
    font-size: 16px !important; }

  h6 {
    font-size: 15px !important; }

  br {
    display: none; }

  .content-head-right .hotline {
    display: none; }

  .section-banner-home {
    padding-top: 60px; }
    .section-banner-home .row {
      padding-top: 20px; }
    .section-banner-home .col-md-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    .section-banner-home .slider-homepage {
      margin-top: 30px; }
    .section-banner-home .content-banner-left {
      padding-right: 100px; }

  .section-list-cate .row.list-cate {
    margin: 0 0 0 -25px; }
    .section-list-cate .row.list-cate .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; }

  .item-cate {
    padding: 30px 5px 30px 20px; }
    .item-cate img {
      height: 50px; }

  .spinner-container {
    left: -5px; }

  .section-detail-list .col-md-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .section-detail-list .box-tab-info-product-pc {
    display: none; }
  .section-detail-list .box-tab-info-product-mb {
    display: block;
    margin-top: 20px; }

  .description-body, .content-rating {
    height: 280px; }

  .expand-content-editor, .expand-content-editor-rating {
    height: 280px; }

  .label-popular {
    width: 60px;
    right: 14px;
    top: 0; }

  .list-item {
    padding: 15px; }
    .list-item li {
      margin: 8px 0; }
    .list-item .price-list-banner {
      margin: 5px 0; }
    .list-item .list-info-item {
      margin-top: 10px; }

  .head-item .title-item {
    padding-left: 5px; }
  .head-item img {
    height: 55px; }

  .img-background img {
    display: none; }

  .how-we-work {
    padding-bottom: 20px; }
    .how-we-work ul {
      margin-top: 20px; }
      .how-we-work ul li {
        width: 50%;
        margin-bottom: 10px; }
        .how-we-work ul li:nth-child(odd) {
          margin-top: 0; }
        .how-we-work ul li .item-how-work h4 {
          height: 30px; }

  .section-request .section-bg-logo .bg-logo {
    height: 200px; }

  .item-print {
    padding: 20px; } }
@media only screen and (max-width: 767px) {
  .list-du-an-hoan-thanh {
    margin-top: 10px; }
    .list-du-an-hoan-thanh .item-news {
      padding-left: 0; }
      .list-du-an-hoan-thanh .item-news .avatar-thumb {
        position: inherit;
        width: 100%; }
      .list-du-an-hoan-thanh .item-news .info-news {
        padding-top: 15px; }
      .list-du-an-hoan-thanh .item-news .title-news {
        margin-bottom: 5px; }
        .list-du-an-hoan-thanh .item-news .title-news.lagre-news a {
          font-size: 16px; }

  .section-request {
    padding: 40px 0; }

  .mini-cart .scrollbar {
    height: 45vh;
    padding-bottom: 0; }

  .slider-csvc-about .carousel-control-next {
    right: 0; }
  .slider-csvc-about .carousel-control-prev {
    left: 0; }

  .slider-show-full-img .owl-item img {
    margin-bottom: 20px; }

  .box-detail-hoa-don {
    display: initial; }
    .box-detail-hoa-don .box-border-acc {
      min-height: 100%;
      max-width: 100%;
      margin-top: 10px; }

  .page-account .title-order-details {
    margin-top: 20px; }
  .page-account .label-hoan-tat, .page-account .label-chua-hoan-thanh {
    white-space: nowrap; }
  .page-account .tab-system .ten-sp {
    display: flex; }
  .page-account .tab-system thead th {
    padding: 8px 10px 8px 5px;
    white-space: nowrap; }

  .section-body-news .row {
    flex-direction: column-reverse; }

  .page-news .item-news {
    padding-left: 175px; }
    .page-news .item-news .avatar-thumb {
      width: 160px; }
    .page-news .item-news .date-time-news p {
      margin-bottom: 0; }
    .page-news .item-news .title-news {
      margin-bottom: 0; }
      .page-news .item-news .title-news a {
        -webkit-line-clamp: initial;
        font-size: 14px; }
    .page-news .item-news.lagre-news .title-news a {
      font-size: 20px; }

  .page-faqs .tab-profile .nav-tabs {
    display: flex;
    overflow-x: scroll;
    height: auto;
    white-space: nowrap;
    width: 100%;
    flex-wrap: unset;
    justify-content: left; }
    .page-faqs .tab-profile .nav-tabs a {
      padding-right: 15px; }

  .list-doi-ngu .col-md-3 {
    width: 50%; }

  .slider-csvc-about .item__third {
    padding: 0; }

  .process-section-about .list-process {
    display: inline-block;
    position: initial; }
    .process-section-about .list-process .item-process {
      padding: 30px 30px 30px 30px; }
      .process-section-about .list-process .item-process .about-procees1 {
        top: 0px;
        left: 30px; }
        .process-section-about .list-process .item-process .about-procees1::before {
          top: 0;
          left: -40px; }
      .process-section-about .list-process .item-process:nth-child(2) {
        padding-top: 40px; }
      .process-section-about .list-process .item-process:nth-child(4) {
        padding: 25px 30px 20px; }
  .process-section-about .bg-red {
    min-height: auto; }

  .list-process {
    display: initial;
    position: initial; }

  .list-info-value p {
    line-height: 20px; }

  .section-intro-value {
    flex-direction: column-reverse;
    margin-top: 20px; }

  .page-list-service {
    margin-top: -30px; }
    .page-list-service .box-banner {
      margin-bottom: 10px; }
    .page-list-service .list-info-item {
      padding-bottom: 0;
      min-height: initial; }

  .breadcrumbs {
    margin-top: 45px; }

  .section-sitemap img {
    width: 100%;
    padding-right: 0;
    float: none; }

  .section-cong-cu-sd.frontend-backend .list-doi-tac img {
    height: 40px;
    margin: 10px; }

  .section-sitemap {
    padding-bottom: 0; }

  .box-empty-project .img-ic-empty {
    height: 100%;
    width: 100%; }

  #id-du-an-hoan-thanh .btn-common-fill {
    max-width: 100%;
    width: fit-content; }

  .section-same-project {
    padding-top: 10px; }
    .section-same-project .list-du-an-hoan-thanh {
      margin-top: 10px; }
    .section-same-project .item-news {
      border: 0;
      margin-bottom: 35px; }
      .section-same-project .item-news .info-news {
        padding-top: 0; }

  .section-red-full .list-print, .section-ux-research .list-print {
    margin-top: 0 !important; }
  .section-red-full .img-icon-item, .section-ux-research .img-icon-item {
    position: initial !important; }

  .detail-uiux-website ul {
    margin-top: 0; }
    .detail-uiux-website ul li {
      width: 50%; }

  .intro-head-title {
    margin: 20px 0 15px 0; }

  .section-page-list-template .content-page-list.banner-theo-mau {
    margin-top: 5px; }
    .section-page-list-template .content-page-list.banner-theo-mau .page-list-project {
      margin: 0; }

  .box-banner .info-box-banner {
    padding: 6px 15px 6px 20px; }
    .box-banner .info-box-banner .title-box-banner {
      font-size: 18px; }
    .box-banner .info-box-banner .head-item {
      margin-top: 6px; }

  .page-list .list-print {
    margin-top: -20px; }
    .page-list .list-print .item-print {
      padding-left: 60px; }
      .page-list .list-print .item-print .img-icon-item {
        position: absolute;
        left: 8px;
        top: 20px;
        height: 45px; }

  h1 {
    font-size: 32px !important; }

  h2 {
    font-size: 24px !important; }

  .section-banner-home {
    padding-bottom: 5px; }
    .section-banner-home .content-banner-left {
      padding-right: 0; }

  .rating-bar .middle {
    width: 100%; }
  .rating-bar .bar-container {
    width: 100%; }

  .img-uiux-website {
    margin-top: 10px; }

  .two-col-btn .btn-action {
    width: 100%;
    margin-bottom: 10px; }
    .two-col-btn .btn-action a {
      width: 100%; }

  .section-list-cate .row.list-cate {
    margin-right: 5px; }
    .section-list-cate .row.list-cate .col-md-3 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 5px; }

  .item-cate {
    margin: 10px; }
    .item-cate .title-cate {
      font-size: 15px;
      margin-top: 10px; }
    .item-cate img {
      height: 35px; }

  .content-head-right .btn-start-project {
    display: none; }

  .hotline-footer img {
    height: 20px;
    margin-right: 5px; }

  .footer-top .col-md-2 {
    display: none; }
    .footer-top .col-md-2:last-child {
      display: block;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
  .footer-top ul {
    margin-bottom: 10px;
    margin-top: 0;
    display: inline-block; }
    .footer-top ul li {
      float: left;
      width: 50%; }
      .footer-top ul li a {
        margin-bottom: 3px; }

  .section-banner-info-home .flex-center {
    display: initial; }
  .section-banner-info-home .col-left-info-home {
    width: 100%;
    padding-right: 0; }
  .section-banner-info-home .avatar-thumb {
    width: 100%; }

  .list-doi-tac img {
    height: 35px; }

  .thanh-tuu {
    padding-top: 40px; }
    .thanh-tuu .col-right-number {
      padding-left: 0; }
      .thanh-tuu .col-right-number .list-number {
        height: 100%;
        padding: 20px 12px; }
        .thanh-tuu .col-right-number .list-number p {
          -webkit-line-clamp: initial; }

  footer {
    padding-top: 20px; }
    footer .line-footer {
      display: none; }
    footer .info-right-ft {
      display: initial; }
    footer .hotline-footer {
      padding: 5px 5px 10px 0;
      display: inline-block;
      position: relative;
      padding-left: 20px; }
      footer .hotline-footer img {
        position: absolute;
        left: 0;
        top: 6px; }
      footer .hotline-footer:first-child {
        padding-left: 0; }
    footer .footer-bottom {
      padding-left: 0; }
      footer .footer-bottom .logo-footer {
        position: initial;
        margin-bottom: 10px;
        height: 40px; }
      footer .footer-bottom .title-footer-bottom {
        padding-left: 0 !important; }
    footer .info-footer-bottom {
      justify-content: left; }

  .content-head-right {
    padding-top: 5px; }

  .menu-mobile {
    top: 16px; }

  .menu nav ul li {
    position: relative;
    list-style: none;
    padding: 5px 0; }

  .show-menu .menu nav {
    top: 50px; }
    .show-menu .menu nav ul {
      text-align: center; }
      .show-menu .menu nav ul li {
        width: 30%;
        margin: 6px; }
        .show-menu .menu nav ul li a {
          font-size: 13px;
          padding: 0 5px; }

  .item-news .title-news a {
    -webkit-line-clamp: initial; }

  .item-news.item-news-right {
    padding-left: 160px;
    min-height: initial; }
    .item-news.item-news-right .avatar-thumb {
      width: 150px; }

  .slider-du-an .row .col-md-6:last-child {
    padding-right: 0; }
  .slider-du-an .col-right-du-an .du-an {
    width: 47%; }

  .section-page-list-template {
    padding-top: 10px;
    padding-bottom: 5px; }

  .slider-page-list .avatar-thumb a, .slider-process .avatar-thumb a {
    padding-top: 56%; }

  .pagging-page ul li a, .pagging-page ul li span {
    margin: 0 5px; }

  .tab-custom .tab-content {
    margin: 10px; }

  .pagging-page .pagination {
    margin-top: 0; }

  .section-detail-list {
    padding-top: 30px; }
    .section-detail-list .row.mt-20 {
      margin-top: 0; }
    .section-detail-list .rating-social {
      display: initial; }
      .section-detail-list .rating-social .like-share {
        display: inline-flex;
        height: 20px;
        margin-top: 10px; }
    .section-detail-list .tab-content {
      padding: 18px; }

  .slider-product-detail .lSAction > .lSNext {
    right: 0; }
  .slider-product-detail .lSAction > .lSPrev {
    left: 0; }
  .slider-product-detail .lSSlideOuter .lSPager.lSGallery img {
    height: 28px; }

  .huong-dan-dat-hang {
    display: inherit;
    padding: 20px; }
    .huong-dan-dat-hang li {
      width: 100%;
      padding-right: 0;
      display: flex;
      position: relative;
      padding-bottom: 50px;
      margin-bottom: 25px; }
      .huong-dan-dat-hang li .number-step-hd {
        margin-right: 10px;
        width: 24px;
        height: 24px;
        font-size: 14px;
        position: relative;
        margin-bottom: 0; }
      .huong-dan-dat-hang li img {
        height: 50px;
        margin-right: 18px; }
      .huong-dan-dat-hang li span {
        position: absolute;
        bottom: 0;
        left: 0; }
      .huong-dan-dat-hang li .fw-bold {
        position: absolute;
        top: 30px;
        left: 70px; }

  .box-info-rating {
    padding-left: 0; }
    .box-info-rating .info-rating-left {
      position: initial; }
    .box-info-rating .info-rating-right .list-img-product img {
      height: 50px;
      width: 60px; }

  .box-danh-gia .flex-center {
    display: initial; }
    .box-danh-gia .flex-center p {
      margin: 0 0 15px 0 !important; }

  .mini-cart-right {
    width: 100%; }

  .detail-rating {
    padding: 0 0 20px 40px;
    margin-bottom: 10px; }
    .detail-rating.rating-sub {
      margin: 20px 0 20px 10px; }
    .detail-rating .ava-rating {
      height: 32px; }

  .detail-rating-right .flex-center {
    display: flex; }
    .detail-rating-right .flex-center .name-user-rating {
      margin-bottom: 0 !important; }

  .payment .mini-cart {
    margin-top: 20px; }

  .box-hinh-thuc-tt .info-taikhoan {
    padding-left: 0; }
    .box-hinh-thuc-tt .info-taikhoan .flex-tktt {
      padding-left: 80px; }
      .box-hinh-thuc-tt .info-taikhoan .flex-tktt .img-tknh {
        height: 40px; }

  .qr-code img {
    height: 16px; }

  .title-success img {
    height: 80px; }

  .payment-success .mini-cart {
    max-width: 100%; }

  .box-view-more-img {
    width: 60px;
    height: 50px;
    padding: 0; }

  .how-we-work ul li .item-how-work h4 {
    font-size: 13px !important; }

  .section-cong-cu-sd .list-doi-tac img {
    height: 40px; }

  .item-news {
    margin-bottom: 20px;
    padding-left: 160px; }
    .item-news .info-news {
      padding: 0; }
    .item-news .title-news.lagre-news a {
      font-size: 15px; }
    .item-news .avatar-thumb {
      width: 150px;
      position: absolute;
      left: 0;
      top: 0; }
      .item-news .avatar-thumb a {
        padding-top: 56%; }
    .item-news.lagre-news {
      padding-left: 0 !important; }
      .item-news.lagre-news .avatar-thumb {
        width: 100%;
        position: initial; }

  #id-du-an-hoan-thanh .btn-action {
    margin-bottom: 0 !important; }

  .section-request p {
    font-size: 14px;
    line-height: 22px; }

  .menu-tab ul {
    padding-top: 0;
    justify-content: left; }
    .menu-tab ul li {
      padding: 10px; }
      .menu-tab ul li a {
        font-size: 13px; }
  .menu-tab.menu-scroll {
    top: 55px; }

  .title-section.small-text h2 span {
    font-size: 28px; }

  .section-red-full .bg-logo {
    display: none; }

  .section-bg-logo .list-print, .section-ux-research .list-print {
    position: initial; }
    .section-bg-logo .list-print .col-md-3, .section-ux-research .list-print .col-md-3 {
      width: 50%; }
    .section-bg-logo .list-print .item-print, .section-ux-research .list-print .item-print {
      padding: 10px;
      margin: 5px 0; }
      .section-bg-logo .list-print .item-print p, .section-ux-research .list-print .item-print p {
        margin-bottom: 0; } }
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 25px !important; }

  p {
    font-size: 14px; }

  .section-banner-home .content-banner-left h1 {
    margin-bottom: 10px; }
  .section-banner-home .content-banner-left p {
    font-size: 16px;
    line-height: 26px; }

  .list-doi-tac img {
    height: 35px; }

  .show-menu .menu nav ul li {
    width: 30%;
    margin: 5px; }
    .show-menu .menu nav ul li a {
      font-size: 12px;
      padding: 0 5px; }

  .filter-mb .select-items div, .filter-mb .select-selected {
    padding: 8px;
    font-size: 13px; }

  .content-page-list.banner-theo-mau {
    margin-top: 15px; }

  .page-list .nav-tabs .nav-link {
    font-size: 14px;
    padding: 10px 20px !important;
    display: flex;
    align-items: center; }

  .box-banner .info-box-banner {
    padding: 15px 10px; }

  .head-item .title-item a {
    margin-right: 0; }

  .label-popular {
    width: 38px;
    right: 20px;
    top: -22px; }

  .payment .list-img-product img {
    height: 35px;
    max-width: 55px;
    margin-right: 3px; } }

/*# sourceMappingURL=responsive.css.map */
