@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
a:hover {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

h1 {
  font-size: 62px;
  font-weight: 700; }

h2 {
  font-size: 35px;
  font-weight: 500; }

h3 {
  font-size: 24px;
  font-weight: 500; }

h4 {
  font-size: 20px;
  font-weight: 500; }

h5 {
  font-size: 18px;
  font-weight: 500; }

h6 {
  font-size: 16px;
  font-weight: 500; }

p {
  font-size: 16px; }

strong,
b,
span,
i,
label {
  font-size: 13px; }

section {
  padding: 40px 0;
  display: block;
  width: 100%;
  overflow: hidden; }

.title-section h2 {
  display: inline-block;
  width: 100%;
  font-size: 45px; }

.title-page {
  display: inline-block;
  width: 100%;
  font-weight: 900;
  text-align: left; }
  .title-page h6 {
    font-weight: normal; }

a {
  text-decoration: none; }

.fw-normal {
  font-weight: normal; }

.fw-bold {
  font-weight: 600; }

.flex-center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.box-shadow {
  background: #FFFFFF;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  padding: 20px; }

.bg-gray {
  background-color: #F5F7FA; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.p0 {
  padding: 0; }

.pd-left {
  padding-left: 30px; }

.pd-right {
  padding-right: 30px; }

.center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.text-main {
  color: #404040; }

.text-white {
  color: #fff; }

.text-brand {
  color: #E22127; }

.text-uppercase {
  text-transform: uppercase; }

.none-overflow {
  overflow: initial; }

.sticky-box {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 70px !important; }

.none-uppercase {
  text-transform: inherit; }

.text-alpha {
  color: #808080; }

.btn.focus,
.btn:focus {
  box-shadow: none; }

body {
  font-family: 'Roboto', sans-serif;
  color: #404040;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 24px;
  font-size: 16px; }

.container {
  max-width: 1200px;
  margin: auto; }

button:focus {
  outline: 0; }

.btn-action {
  display: inline-block;
  width: 100%; }
  .btn-action a {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .btn-action button {
    outline: none; }
  .btn-action span {
    padding-left: 5px;
    font-weight: 900; }

.btn-common-line {
  background-color: transparent !important;
  border: 1.5px solid #E22127 !important;
  color: #E22127 !important; }

input[type=button],
input[type=submit],
input[type=reset] {
  color: white !important; }

.btn-common-fill,
.btn-common-line,
button,
input[type=button],
input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E22127;
  padding: 0 24px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  border: 1.5px solid #E22127;
  color: white;
  height: 45px;
  line-height: 24px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 4px; }
  .btn-common-fill:hover,
  .btn-common-line:hover,
  button:hover,
  input[type=button]:hover,
  input[type=submit]:hover {
    opacity: 0.9;
    color: white; }
  .btn-common-fill i,
  .btn-common-fill span,
  .btn-common-fill img,
  .btn-common-line i,
  .btn-common-line span,
  .btn-common-line img,
  button i,
  button span,
  button img,
  input[type=button] i,
  input[type=button] span,
  input[type=button] img,
  input[type=submit] i,
  input[type=submit] span,
  input[type=submit] img {
    font-weight: 600;
    margin-left: 5px; }

.scrollbar {
  width: 100%;
  margin: auto;
  overflow-x: auto; }

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #fff; }

::-webkit-scrollbar {
  width: 1px;
  height: 0;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #ffffff; }

textarea {
  height: 100px !important;
  padding-top: 12px !important; }

input,
select,
textarea {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  color: #404040;
  width: 100%;
  padding: 5px 15px;
  height: 40px;
  font-size: 14px;
  font-weight: normal; }
  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: #C4C8D3;
    font-weight: normal; }
  input:focus,
  select:focus,
  textarea:focus {
    border: 1px solid #E6E6E6; }

::-webkit-calendar-picker-indicator {
  filter: invert(0.6); }

.avatar-thumb {
  display: inline-block;
  width: 100%; }
  .avatar-thumb a {
    position: relative;
    padding-top: 56%;
    display: block; }
    .avatar-thumb a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.form-control:focus {
  border-color: #E22127;
  outline: 0;
  box-shadow: none; }

.breadcrumbs {
  padding: 20px 0 0px 0;
  margin-bottom: -30px;
  margin-top: 65px; }
  .breadcrumbs i {
    color: #808080;
    font-weight: 600; }
    .breadcrumbs i.ti-angle-right {
      font-size: 10px;
      color: #80808082; }
  .breadcrumbs a {
    color: #808080;
    font-size: 13px; }

/* ----------------------- Modal----------------------- */
.modal {
  padding: 80px 0; }

.modal-body p {
  font-weight: normal; }

.modal-content {
  margin: auto;
  border: 0;
  border-radius: 2px;
  padding: 15px 20px; }

.modal-dialog {
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.modal-header {
  padding: 0 10px;
  border-bottom: 0; }
  .modal-header .close {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 1; }
    .modal-header .close i {
      font-size: 20px;
      color: #808080;
      opacity: 1;
      font-weight: 600; }

.modal-title {
  font-weight: 600; }

.modal-dang-nhap .btn-common-fill {
  width: 100% !important; }
.modal-dang-nhap p {
  font-size: 14px; }
.modal-dang-nhap .border-line {
  margin-top: 25px;
  border-top: 1px solid #E6E6E6;
  width: 100%;
  position: relative;
  padding: 10px 0px 10px 0; }
  .modal-dang-nhap .border-line span {
    color: #808080;
    position: absolute;
    top: -12px;
    z-index: 2;
    left: 0;
    right: 0;
    background-color: white;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0 10px; }
.modal-dang-nhap .quen-mk {
  float: right;
  font-size: 13px; }

.google-button {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  background-color: white;
  height: 40px;
  text-align: center;
  font-weight: 500;
  margin: 15px 0;
  font-size: 14px; }
  .google-button a {
    font-size: 14px;
    color: #404040; }
    .google-button a img {
      margin-right: 5px; }

.two-filed-col .form-group {
  width: 250px; }
  .two-filed-col .form-group:first-child {
    margin-right: 20px; }

.modal-dang-ky .flex-center {
  justify-content: space-between; }

.owl-carousel {
  z-index: 0; }

/*-------------------------------------------------------- head menu -------------------------------------------------*/
header {
  display: inline-block;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  padding: 10px 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05); }
  header .btn-common-fill {
    height: 40px; }

.header2 {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%; }

.progress-container {
  width: 100%;
  height: 2px; }

.progress-bar {
  height: 2px;
  background: #E22127;
  width: 0%; }

.logo {
  display: inline-block;
  padding-top: 5px; }
  .logo img {
    height: 30px; }

.content-head-left {
  float: left; }

.content-head-right {
  display: flex;
  align-self: center;
  justify-content: right; }
  .content-head-right .btn-start-project {
    max-width: fit-content; }
  .content-head-right .hotline,
  .content-head-right .btn-start-project,
  .content-head-right .account {
    margin: 0 8px; }

.account {
  position: relative;
  display: flex;
  align-items: center; }
  .account i {
    color: #404040;
    font-weight: 700; }
  .account a span {
    font-size: 14px;
    color: #404040; }
  .account button {
    background: none;
    border: 0;
    color: #404040;
    font-size: 15px;
    margin-left: 5px; }
  .account .title-acc {
    cursor: pointer; }
  .account .dropdown-avatar {
    width: 200px;
    top: 55px;
    right: -30px;
    left: inherit;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
    border: 0;
    padding: 15px 20px;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid #E22127;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .account .dropdown-avatar a {
      transition: all 0.3s ease;
      margin: 10px 0; }
  .account:hover .dropdown-avatar {
    opacity: 1;
    visibility: visible; }
    .account:hover .dropdown-avatar a:hover {
      opacity: 0.8; }
    .account:hover .dropdown-avatar .btn-common-fill {
      color: white;
      height: 45px; }
      .account:hover .dropdown-avatar .btn-common-fill:hover {
        opacity: 0.9; }
  .account.done-login a {
    font-size: 15px;
    color: #404040;
    display: inline-block; }
    .account.done-login a img {
      height: 23px;
      width: 23px;
      margin-right: 5px; }
    .account.done-login a:hover {
      color: #808080;
      opacity: 1; }
      .account.done-login a:hover img {
        opacity: 0.8; }
  .account.done-login .title-acc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 125px; }
  .account .avatar-acc {
    width: 26px !important;
    height: 26px !important; }

.profile-name {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 10px; }
  .profile-name p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1; }

.hotline a {
  font-size: 20px;
  font-weight: 700; }
  .hotline a img {
    margin-right: 5px; }
  .hotline a:hover {
    color: #E22127; }

.menu nav > ul {
  display: flex;
  justify-content: left;
  margin-bottom: 0; }

.menu nav ul > li > a::before {
  content: "\e64b";
  display: inline-block;
  font-family: 'themify';
  font-size: 9px;
  font-weight: 100;
  position: absolute;
  right: 0;
  top: 0; }

.menu-scroll.show-menu {
  z-index: 2; }

.menu {
  position: relative;
  z-index: 1;
  display: inline-block; }
  .menu nav ul {
    padding: 0; }
    .menu nav ul li {
      position: relative;
      list-style: none;
      padding: 10px 0; }
      .menu nav ul li i {
        display: none; }
      .menu nav ul li a {
        padding: 0 15px;
        position: relative;
        font-size: 14px;
        font-weight: 600;
        color: #404040;
        display: flex;
        align-items: center; }
        .menu nav ul li a:hover {
          color: #808080; }
        .menu nav ul li a.active {
          color: #808080; }
      .menu nav ul li ul {
        position: absolute;
        width: 220px;
        left: 0;
        top: 43px;
        border-radius: 0 0 2px 2px;
        border-top: 1px solid #E22127;
        opacity: 0;
        visibility: hidden;
        background: white;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
        padding: 15px 25px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        -webkit-transform: translateY(10px);
        transform: translateY(10px); }
        .menu nav ul li ul li {
          padding: 3px 0; }
          .menu nav ul li ul li a {
            display: inline-block;
            width: 100%;
            font-weight: normal;
            transition: all 0.3s linear;
            transition: 0.5s;
            padding: 4px 0;
            font-size: 14px; }
            .menu nav ul li ul li a::before {
              display: none; }
            .menu nav ul li ul li a:hover {
              padding-left: 5px;
              border-radius: 2px;
              color: #808080; }
        .menu nav ul li ul.sub-menu-two-col {
          width: 420px; }
          .menu nav ul li ul.sub-menu-two-col li {
            float: left;
            width: 50%; }
      .menu nav ul li:hover ul {
        opacity: 1;
        visibility: initial; }
      .menu nav ul li.active a {
        color: #808080; }
      .menu nav ul li.active ul li a {
        color: #404040; }
        .menu nav ul li.active ul li a.active {
          color: #808080 !important; }

/* -------Sticky menu srcoll----- */
.menu-scroll {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: #fff; }

.no-sub a::after, .no-sub a::before {
  display: none !important; }

.menu-mobile {
  display: none; }

/*-------------------------------------------------------- Section-banner-home-------------------------------------------------*/
.box-search {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .box-search input {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
    height: 60px;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 14px;
    border: 1px solid transparent; }
    .box-search input::placeholder {
      color: #404040;
      opacity: 0.3; }
    .box-search input:focus {
      border: 1px solid #E6E6E6; }
  .box-search button {
    height: 60px;
    outline: none;
    display: flex;
    align-items: center;
    border-radius: 0 4px 4px 0; }
    .box-search button i {
      font-size: 20px; }

.section-banner-home .row {
  align-items: center;
  padding: 50px 0 10px 0; }
.section-banner-home .content-banner-left p {
  font-size: 20px;
  line-height: 30px; }
.section-banner-home .owl-nav {
  display: none; }
.section-banner-home .slider-homepage .avatar-thumb a {
  padding-top: inherit; }
  .section-banner-home .slider-homepage .avatar-thumb a img {
    position: inherit; }

.owl-theme .owl-dots .owl-dot {
  outline: 0; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #E22127; }

.list-tag a {
  font-size: 13px;
  background: #EBEEF2;
  border-radius: 4px;
  padding: 0 10px;
  display: inline-block;
  color: #808080;
  margin: 10px 5px;
  border: 1px solid transparent; }
  .list-tag a:hover {
    border: 1px solid #E6E6E6; }

/* ----------------------------- Homepage -----------------------------*/
.section-list-cate .row.list-cate {
  margin-left: -30px; }

.list-cate .col-md-3 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.item-cate {
  padding: 30px;
  color: #404040;
  width: 100%;
  display: inline-block;
  margin: 15px;
  transition: 0.5s; }
  .item-cate img {
    height: 60px; }
  .item-cate:hover {
    color: #E22127; }
  .item-cate .title-cate {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.section-banner-info-home .col-left-info-home {
  width: 50%;
  padding-right: 30px; }
  .section-banner-info-home .col-left-info-home .title-section h2 {
    font-weight: normal; }
.section-banner-info-home .avatar-thumb {
  width: 50%; }
  .section-banner-info-home .avatar-thumb a {
    padding-top: inherit; }
    .section-banner-info-home .avatar-thumb a img {
      position: inherit; }

.list-info-item li {
  list-style: none;
  position: relative;
  padding-left: 30px;
  margin: 15px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }
  .list-info-item li svg,
  .list-info-item li img {
    position: absolute;
    left: 0;
    height: 24px; }

.list-doi-tac {
  text-align: center; }
  .list-doi-tac img {
    height: 80px;
    margin: 15px 40px; }

/* --------------------------- thanh tuu dat duoc ------------------------------- */
.thanh-tuu {
  background-color: #E22127;
  color: white; }
  .thanh-tuu .title-section {
    font-weight: normal; }
  .thanh-tuu p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4; }
  .thanh-tuu .btn-common-line {
    border: 1px solid white !important;
    color: white !important; }
  .thanh-tuu .col-right-number {
    padding-left: 30px; }
    .thanh-tuu .col-right-number h2 {
      font-size: 70px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .thanh-tuu .col-right-number h2 span {
        font-size: 40px;
        margin-left: 10px; }
    .thanh-tuu .col-right-number .list-number {
      height: 230px;
      width: 50%;
      float: left;
      border: 1px solid #ffffff4d;
      padding: 30px 38px;
      border-bottom: 0;
      text-align: center; }
      .thanh-tuu .col-right-number .list-number:nth-child(1), .thanh-tuu .col-right-number .list-number:nth-child(3) {
        border-right: 0; }
      .thanh-tuu .col-right-number .list-number p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3; }

/* --------------------------- Du an da thuc hien ------------------------------- */
.du-an-da-thuc-hien .des-title-section {
  max-width: 700px; }

.slider-du-an {
  position: relative; }
  .slider-du-an .avatar-thumb a {
    padding-top: inherit; }
    .slider-du-an .avatar-thumb a img {
      border-radius: 4px;
      position: inherit; }
  .slider-du-an .title-du-an {
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    z-index: 2;
    padding: 15px;
    height: 100%;
    width: 100%; }
  .slider-du-an .box-linear {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.5;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    height: 100%;
    display: inline-block;
    width: 100%; }
  .slider-du-an .du-an {
    position: relative;
    display: inline-block;
    width: 100%; }
  .slider-du-an .col-right-du-an {
    display: inline-block;
    width: 100%; }
    .slider-du-an .col-right-du-an .du-an {
      width: 47%;
      float: left;
      margin: 0 15px 10px 0; }
      .slider-du-an .col-right-du-an .du-an:nth-child(3), .slider-du-an .col-right-du-an .du-an:nth-child(4) {
        margin-bottom: 0; }
      .slider-du-an .col-right-du-an .du-an .avatar-thumb a {
        padding-top: inherit; }
  .slider-du-an .owl-dots {
    display: none; }

.owl-nav span {
  opacity: 0; }

.owl-prev,
.owl-next {
  position: absolute;
  top: 45%;
  width: 32px;
  height: 32px; }

.owl-prev {
  left: -4%;
  background: url(../images/arrow-left.png) no-repeat center !important;
  background-size: contain !important; }

.owl-next {
  right: -4%;
  background: url(../images/arrow-right.png) no-repeat center !important;
  background-size: contain !important; }

/*------------------- call ring ------------------------*/
.call-to-action {
  display: block;
  bottom: 50px;
  position: fixed;
  right: 20px;
  z-index: 12 !important; }
  .call-to-action .coccoc-alo-ph-circle {
    width: 70px;
    height: 70px;
    top: 55px;
    left: 55px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #E22127;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .call-to-action .coccoc-alo-phone {
    background-color: transparent;
    width: 90px;
    height: 90px;
    margin-right: 30px;
    cursor: pointer;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    right: 150px;
    top: 30px; }
  .call-to-action .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
    background-color: #fff;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.11);
    opacity: .75 !important; }
  .call-to-action .coccoc-alo-ph-circle-fill {
    width: 60px;
    height: 60px;
    top: 60px;
    left: 60px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .call-to-action .coccoc-alo-ph-img-circle {
    width: 40px;
    height: 40px;
    top: 70px;
    left: 70px;
    position: absolute;
    background: #E22127 url(../images/tuvan-mb.svg) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out; }
  .call-to-action .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
    background-color: #2E75DF; }
  .call-to-action .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
    border-color: #2E75DF;
    opacity: .5; }
  .call-to-action .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
  .call-to-action .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
    border-color: #E22127;
    opacity: .5; }
  .call-to-action .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
  .call-to-action .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
    background-color: #2E75DF;
    opacity: .75 !important; }
  .call-to-action .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
  .call-to-action .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
    background-color: #2E75DF; }
  .call-to-action .img-hot-line .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
    background-color: #E22127; }
  .call-to-action .img-hot-line .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
    border-color: #E22127;
    opacity: .5; }
  .call-to-action .img-hot-line .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
  .call-to-action .img-hot-line .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
    border-color: #E22127;
    opacity: .5; }
  .call-to-action .img-hot-line .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
  .call-to-action .img-hot-line .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
    background-color: #E22127;
    opacity: .75 !important; }
  .call-to-action .img-hot-line .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
  .call-to-action .img-hot-line .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
    background-color: #E22127; }
@-moz-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-o-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-moz-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-o-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
  .call-to-action .img-hot-line .coccoc-alo-ph-img-circle {
    background: url(../images/cta-phone.svg) no-repeat center center; }
  .call-to-action .img-zalo .coccoc-alo-ph-img-circle {
    background: url(../images/ic-zalo.svg) no-repeat center center; }
  .call-to-action .img-mess .coccoc-alo-ph-img-circle {
    background: url(../images/ic-mess.svg) no-repeat center center; }

/*-------------------------------- Section tin tuc------------------------------ */
.item-news {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  width: 100%; }
  .item-news .info-news {
    padding: 15px 0; }
    .item-news .info-news a span, .item-news .info-news span {
      color: #808080; }
  .item-news .avatar-thumb a img {
    border-radius: 2px; }
  .item-news.lagre-news .title-news a {
    font-size: 20px; }
  .item-news .title-news {
    margin-bottom: 10px; }
    .item-news .title-news a {
      font-size: 16px;
      color: #404040;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  .item-news .desc-news {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px; }
  .item-news.item-news-right {
    padding-left: 250px;
    min-height: 130px; }
    .item-news.item-news-right .info-news {
      padding-top: 0; }
    .item-news.item-news-right .avatar-thumb {
      position: absolute;
      left: 0;
      width: 230px; }

.date-time-news p {
  margin-bottom: 5px; }
  .date-time-news p .date-news::after {
    content: '-';
    display: inline-block;
    margin-left: 5px; }
  .date-time-news p i {
    font-weight: 600; }

/*-------------------------------- Footer ------------------------------ */
footer {
  padding: 40px 0 20px 0;
  border-top: 1px solid #F2F2F2; }
  footer ul {
    margin-bottom: 0; }
    footer ul li {
      list-style: none; }
      footer ul li a {
        color: #808080;
        font-size: 13px;
        width: 100%;
        display: inline-block;
        margin-bottom: 8px; }
        footer ul li a:hover {
          color: #404040; }
  footer .line-footer {
    border: 0.5px solid #F2F2F2;
    margin: 30px 0; }
  footer .col-md-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  footer .title-footer a {
    color: #404040; }
  footer .footer-bottom {
    position: relative;
    padding-left: 240px; }
    footer .footer-bottom .logo-footer {
      position: absolute;
      left: 0; }
    footer .footer-bottom span {
      color: #808080; }
    footer .footer-bottom .logo-footer {
      height: 90px; }
    footer .footer-bottom img {
      height: 30px; }
  footer .info-right-ft {
    display: flex;
    align-items: center;
    padding-bottom: 5px; }
  footer .info-footer-bottom span,
  footer .info-footer-bottom a {
    padding: 0 5px; }
  footer .social-footer {
    display: inline-block; }
    footer .social-footer img {
      height: 24px; }
  footer .hotline-footer {
    padding: 0 15px; }
    footer .hotline-footer img {
      height: 20px;
      margin-right: 5px; }

/* ---------------------------- Page contact -----------------------*/
.page-contact .title-section p {
  max-width: 700px; }
.page-contact .contact-form .form-group {
  margin-bottom: 25px; }
.page-contact .contact-form label {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase; }
.page-contact .btn-action a {
  text-transform: uppercase;
  max-width: 230px;
  width: 100%; }

.info-contact-right {
  padding-left: 30px; }

.info-detail-contact {
  font-size: 16px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%; }
  .info-detail-contact b {
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block; }
  .info-detail-contact p {
    font-size: 14px;
    margin-bottom: 5px; }

/* ---------------------------- Page FAQs -----------------------*/
.page-faqs .box-search {
  position: relative;
  margin: 0 0 30px 0;
  max-width: 500px; }
  .page-faqs .box-search .ti-search {
    position: absolute;
    top: 20px;
    font-size: 20px;
    right: 20px;
    color: #E6E6E6;
    font-weight: 600; }
  .page-faqs .box-search input {
    border: 1px solid #C4C8D3;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
    border-radius: 4px; }
    .page-faqs .box-search input::placeholder {
      color: #808080;
      opacity: 1;
      font-size: 15px; }

.tab-profile .nav-link {
  padding: 10px 0; }
.tab-profile .nav {
  display: initial; }
.tab-profile .nav-tabs {
  border-bottom: 0; }
.tab-profile .nav-tabs .nav-link {
  color: #808080;
  border: 0;
  font-size: 15px; }
.tab-profile .nav-tabs .nav-link.active {
  border: 0;
  color: #E22127; }

#faq .card {
  border: 0;
  border-bottom: 1px solid #E6E6E6; }

#faq .card .card-header {
  padding: 0; }

#faq .card .card-body {
  font-size: 15px;
  padding-left: 25px;
  padding-top: 0;
  text-align: justify; }

#faq .card .card-header .btn-header-link {
  color: #404040;
  display: block;
  text-align: left;
  background: #fff;
  padding: 20px 25px;
  border-radius: 0;
  font-weight: 500; }

#faq .card .card-header .btn-header-link:after {
  content: "\e64b";
  font-family: 'themify';
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 20px; }

#faq .card .card-header .btn-header-link.collapsed {
  color: #404040; }

#faq .card .card-header .btn-header-link.collapsed:after {
  content: "\e648"; }

#faq .card .collapsing {
  background: #fff;
  line-height: 30px; }

#faq .card .collapse {
  border: 0; }

#faq .card .collapse.show {
  background: #fff;
  line-height: 30px;
  color: #404040; }

/* ---------------------------- Page news -----------------------*/
.page-news .item-news .title-news a {
  -webkit-line-clamp: 3;
  font-size: 18px; }
.page-news .item-news .title-news.lagre-news a {
  font-size: 22px; }

.editor-body ul, .editor-body ol {
  padding-left: 15px; }
.editor-body span, .editor-body p, .editor-body b, .editor-body strong, .editor-body label, .editor-body i {
  font-size: initial !important;
  width: initial !important;
  height: initial !important;
  font-weight: initial !important; }
.editor-body h1, .editor-body h2, .editor-body h3, .editor-body h4, .editor-body h5, .editor-body h6 {
  font-size: initial !important;
  width: initial !important;
  font-weight: initial !important;
  height: initial !important;
  margin: 20px 0; }
  .editor-body h1 span, .editor-body h1 p, .editor-body h1 b, .editor-body h1 strong, .editor-body h1 label, .editor-body h1 i, .editor-body h2 span, .editor-body h2 p, .editor-body h2 b, .editor-body h2 strong, .editor-body h2 label, .editor-body h2 i, .editor-body h3 span, .editor-body h3 p, .editor-body h3 b, .editor-body h3 strong, .editor-body h3 label, .editor-body h3 i, .editor-body h4 span, .editor-body h4 p, .editor-body h4 b, .editor-body h4 strong, .editor-body h4 label, .editor-body h4 i, .editor-body h5 span, .editor-body h5 p, .editor-body h5 b, .editor-body h5 strong, .editor-body h5 label, .editor-body h5 i, .editor-body h6 span, .editor-body h6 p, .editor-body h6 b, .editor-body h6 strong, .editor-body h6 label, .editor-body h6 i {
    font-size: initial !important;
    width: initial !important;
    font-weight: initial !important;
    height: initial !important; }
.editor-body img {
  max-width: 100% !important;
  margin: auto; }

.section-body-news {
  max-width: 940px;
  margin: 0 auto; }
  .section-body-news img {
    width: 100%; }
  .section-body-news p, .section-body-news img {
    margin: 20px 0;
    text-align: justify; }

.social-bottom-news {
  float: right; }

.box-muc-luc {
  background-color: #F5F7FA;
  border-radius: 4px;
  padding: 20px;
  z-index: 1; }
  .box-muc-luc h5 {
    font-weight: 600; }
  .box-muc-luc ul {
    padding-left: 30px;
    margin-bottom: 0; }
    .box-muc-luc ul li {
      margin-bottom: 10px;
      list-style: none; }
      .box-muc-luc ul li a {
        color: #404040;
        line-height: 16px;
        font-size: 14px;
        font-weight: 600; }
      .box-muc-luc ul li.li-sub {
        padding-left: 20px; }
        .box-muc-luc ul li.li-sub a {
          font-size: 13px;
          font-weight: inherit; }

.page-detail-news .social-footer {
  display: flex;
  align-items: center; }
  .page-detail-news .social-footer p {
    margin: 0 20px 0 0; }
  .page-detail-news .social-footer img {
    margin: 0;
    height: 40px; }
.page-detail-news .title-section h1 {
  font-size: 40px !important;
  margin-bottom: 30px; }

.page-policy .container {
  max-width: 940px;
  margin: 0 auto; }

.page-account .tab-system table {
  margin-top: 30px;
  width: 100%;
  border-radius: 4px;
  font-size: 14px; }
.page-account .tab-system thead {
  background: #E7ECF1;
  width: 100%; }
  .page-account .tab-system thead th {
    padding: 8px 20px 8px 8px;
    font-weight: normal; }
  .page-account .tab-system thead tr {
    width: 100%; }
.page-account .tab-system tbody {
  width: 100%;
  border: 1px solid #E6E6E6;
  border-top: 0; }
  .page-account .tab-system tbody tr {
    width: 100%;
    cursor: pointer; }
    .page-account .tab-system tbody tr td {
      border-top: 1px solid #E6E6E6;
      padding: 10px 20px 10px 10px; }
    .page-account .tab-system tbody tr:nth-child(even) {
      background: #F5F7FA; }
  .page-account .tab-system tbody .ma-dh {
    color: #E22127;
    text-decoration: underline; }
.page-account .tab-system .nav-tabs .nav-item {
  font-weight: 600;
  font-size: 16px; }
.page-account .tab-system .ten-sp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.page-account .title-order-details {
  margin-top: 20px; }
  .page-account .title-order-details .title-order {
    padding-left: 10px; }

.box-thay-doi-mk {
  display: none;
  width: 100%; }
  .box-thay-doi-mk .col-md-6 {
    float: left; }

.box-border-acc {
  min-height: 400px;
  margin-top: 30px;
  border: 1px solid #E6E6E6;
  padding: 30px;
  border-radius: 4px; }
  .box-border-acc .form-group {
    margin: 15px 0; }
  .box-border-acc input {
    height: 45px; }
    .box-border-acc input::placeholder {
      color: #808080; }
  .box-border-acc .input-custom:checked + .label-custom {
    color: inherit !important; }
  .box-border-acc .btn-common-fill {
    background-color: #C4C8D3;
    color: white;
    border: 1px solid #C4C8D3; }

.show-box-doi-mk {
  display: inline-block !important;
  width: 100%; }

.label-hoan-tat {
  color: #4EA52F;
  background-color: #EEF9EB;
  border-radius: 4px;
  padding: 6px 20px;
  cursor: pointer;
  font-size: 14px; }

.label-chua-hoan-thanh {
  color: #EF7A30;
  background-color: #FFECE0;
  border-radius: 4px;
  padding: 6px 20px;
  cursor: pointer;
  font-size: 14px; }

.label-mini-cart {
  color: #E22127;
  background-color: #faeded;
  border-radius: 4px;
  padding: 3px 10px;
  cursor: pointer; }

.box-detail-hoa-don {
  justify-content: right;
  align-items: flex-start;
  margin-top: 30px; }
  .box-detail-hoa-don .box-border-acc {
    min-height: 270px;
    margin-top: 0;
    max-width: 350px;
    width: 100%;
    margin-right: 20px; }
    .box-detail-hoa-don .box-border-acc p {
      color: #808080;
      font-size: 14px;
      margin-bottom: 10px; }
  .box-detail-hoa-don .box-order-right {
    max-width: 350px;
    width: 100%; }
    .box-detail-hoa-don .box-order-right img {
      height: 32px; }
    .box-detail-hoa-don .box-order-right .bottom-cart-price span {
      font-size: 20px; }
    .box-detail-hoa-don .box-order-right .box-border-acc {
      min-height: initial;
      padding: 20px;
      margin-top: 15px; }

/*------------- Custom tab content --------------*/
.info-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }
  .info-profile .avatar {
    padding-right: 20px; }
  .info-profile .bg-ava {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    z-index: 10; }
    .info-profile .bg-ava .file-upload-w-file-name {
      padding-top: 0;
      margin-right: 0;
      margin-bottom: 5px; }
      .info-profile .bg-ava .file-upload-w-file-name input {
        border: 0; }
      .info-profile .bg-ava .file-upload-w-file-name label {
        display: initial;
        padding: 0;
        border: 0;
        background: transparent; }
      .info-profile .bg-ava .file-upload-w-file-name svg path {
        fill: white; }
  .info-profile .title-profile h2 {
    font-size: 26px; }
  .info-profile .title-profile a {
    color: #808080; }
  .info-profile .avatar {
    text-align: center;
    z-index: 5;
    position: relative; }
    .info-profile .avatar .avatar-thumb {
      height: 130px;
      width: 130px;
      margin: 0 auto;
      overflow: hidden;
      background: #D7DCE3;
      border: 2px solid #FFFFFF;
      box-shadow: 0px 0px 11px rgba(85, 96, 128, 0.19);
      border-radius: 50%; }
      .info-profile .avatar .avatar-thumb a img {
        border-radius: 100%; }
      .info-profile .avatar .avatar-thumb a::before {
        margin-top: 25px;
        z-index: 7;
        width: 100%;
        background: #000000;
        opacity: 0.2;
        padding: 16px 0;
        display: inline-block;
        content: '';
        position: relative; }

/*------------- Custom tab content --------------*/
.tab-system .nav-tabs .nav-link:focus, .tab-system .nav-tabs .nav-link:hover, .tab-system .nav-tabs .nav-item.show .nav-link, .tab-system .nav-tabs .nav-link.active {
  border-color: transparent; }
.tab-system .nav-tabs {
  border-bottom: 1.5px solid #E6E6E6;
  justify-content: center;
  overflow-x: scroll;
  height: auto;
  white-space: nowrap;
  width: 100%;
  flex-wrap: unset; }
  .tab-system .nav-tabs .nav-link {
    font-weight: 600;
    width: 25%;
    text-align: center; }
    .tab-system .nav-tabs .nav-link span {
      font-size: 14px; }
.tab-system .nav-item.show .nav-link, .tab-system .nav-tabs .nav-link.active {
  background-color: transparent;
  border-bottom: 1.5px solid #E22127;
  color: #E22127; }
.tab-system .nav-tabs .nav-item {
  margin-bottom: 0;
  padding: 15px;
  color: #404040;
  font-weight: normal; }

/* ---------------------------- Page list -----------------------*/
.slider-page-list .banner-list-pc {
  display: block; }
.slider-page-list .banner-list-mb {
  display: none; }
.slider-page-list .avatar-thumb a {
  padding-top: inherit !important; }
  .slider-page-list .avatar-thumb a img {
    border-radius: 4px;
    position: inherit !important; }
.slider-page-list .owl-dots {
  display: none; }

.file-upload-w-file-name {
  margin-right: 15px; }
  .file-upload-w-file-name [type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 150px; }
  .file-upload-w-file-name [type=file] + label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    width: 150px;
    margin: 0;
    position: relative;
    background: white;
    color: #404040;
    border: 1px solid #E6E6E6;
    cursor: pointer; }
    .file-upload-w-file-name [type=file] + label img {
      margin-right: 5px; }

.page-list .nav-tabs .nav-link {
  border: 1px solid #C4C8D3 !important;
  color: #404040;
  border-radius: 4px;
  height: 45px;
  margin: 0 8px;
  padding: 10px 40px !important;
  font-weight: normal !important; }
  .page-list .nav-tabs .nav-link.active {
    background-color: #E22127 !important;
    color: white !important;
    border-radius: 4px;
    height: 45px;
    border: 1px solid transparent !important; }

.banner-theo-mau-col-right .nav-tabs .nav-link {
  border: 0 !important; }

.content-page-list .label-custom {
  color: #808080; }
  .content-page-list .label-custom::before {
    width: 17px;
    height: 17px;
    font-size: 12px; }
.content-page-list.banner-theo-mau {
  margin-top: 40px; }
  .content-page-list.banner-theo-mau .col-md-3 {
    padding-left: 5px; }

.list-item {
  padding: 35px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
  border-radius: 4px; }
  .list-item p {
    font-size: 14px;
    margin-top: 10px;
    color: #808080;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .list-item .list-info-item {
    position: relative; }
    .list-item .list-info-item li a {
      font-size: 14px; }
    .list-item .list-info-item svg path {
      fill: #404040; }
  .list-item .price-list-banner {
    font-size: 16px;
    font-weight: 600;
    color: #404040; }
    .list-item .price-list-banner span {
      font-weight: normal; }
  .list-item:hover {
    border: 1px solid #E22127; }

.label-popular {
  width: 80px;
  position: absolute;
  right: 30px;
  top: 15px; }

.banner-theo-mau {
  align-items: flex-start; }
  .banner-theo-mau .box-shadow {
    padding: 0;
    box-shadow: none; }
  .banner-theo-mau .list-danh-muc li {
    list-style: none;
    margin: 12px 0; }
    .banner-theo-mau .list-danh-muc li a {
      color: #808080;
      font-size: 14px; }
      .banner-theo-mau .list-danh-muc li a:hover {
        color: #E22127; }
    .banner-theo-mau .list-danh-muc li.active a {
      color: #E22127; }
  .banner-theo-mau .check-radio-custom [type="radio"]:checked + label,
  .banner-theo-mau .check-radio-custom [type="radio"]:not(:checked) + label {
    color: #808080; }
  .banner-theo-mau .flex-center input:first-child {
    margin-right: 10px; }

.banner-theo-mau-col-right .row {
  margin: 0 -35px; }
.banner-theo-mau-col-right .flex-center {
  justify-content: space-between; }
.banner-theo-mau-col-right .nav-tabs .nav-link {
  background-color: transparent !important;
  margin: 0;
  padding-right: 0px !important;
  display: flex;
  align-items: center;
  height: auto !important; }
  .banner-theo-mau-col-right .nav-tabs .nav-link i {
    font-size: 20px; }
  .banner-theo-mau-col-right .nav-tabs .nav-link.active {
    background-color: transparent !important;
    border-bottom: 0 !important; }
    .banner-theo-mau-col-right .nav-tabs .nav-link.active i {
      color: #E22127 !important; }

.box-banner {
  display: inline-block;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E9EAEE;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px; }
  .box-banner .avatar-thumb a {
    padding-top: inherit; }
    .box-banner .avatar-thumb a img {
      position: inherit; }
  .box-banner .info-box-banner {
    padding: 15px 15px 20px 20px; }
    .box-banner .info-box-banner .head-item {
      margin-top: 12px; }
    .box-banner .info-box-banner .title-box-banner {
      font-size: 20px;
      color: #404040; }

.head-item {
  justify-content: left; }
  .head-item img {
    height: 70px; }
  .head-item .title-item {
    padding-left: 15px; }
    .head-item .title-item h4 a {
      color: #404040;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 1; }
    .head-item .title-item a {
      margin-right: 10px; }
  .head-item .price-item {
    color: #404040;
    font-weight: 600;
    font-size: 16px; }
  .head-item .price-sale {
    color: #808080;
    font-size: 13px;
    text-decoration: line-through; }
  .head-item .discounts {
    color: white;
    background-color: #4EA52F;
    border-radius: 4px;
    font-size: 13px;
    padding: 5px 10px; }

.mini-cart {
  background-color: #fff; }
  .mini-cart .scrollbar {
    height: 56vh;
    padding-bottom: 20px; }
  .mini-cart .flex-center.head-item {
    height: auto;
    align-items: flex-start;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 20px; }
  .mini-cart .btn-common-fill {
    width: 100%; }

.mini-cart-right {
  position: fixed;
  top: 0;
  right: -430px;
  width: 430px;
  height: 100%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .mini-cart-right .box-sticky-cart {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.05); }

.content-mini-cart {
  padding: 30px 15px 15px 20px; }
  .content-mini-cart .label-mini-cart {
    margin-bottom: 10px;
    display: inline-block; }

.full-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: 99;
  opacity: 0;
  visibility: hidden; }
  .full-bg.active {
    opacity: 1;
    visibility: visible; }

.mini-cart.show {
  right: 0;
  opacity: 1;
  visibility: visible; }

body.hidden {
  overflow-y: hidden; }

.mini-cart,
.mini-cart.show {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.mini-cart a.shopping-cart-close {
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 0px; }
  .mini-cart a.shopping-cart-close i {
    font-size: 20px;
    color: #808080;
    font-weight: 600; }

.number {
  margin-top: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  height: 40px;
  text-align: center;
  width: 168px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .number span {
    cursor: pointer; }
  .number .minus, .number .plus {
    vertical-align: middle;
    text-align: center;
    font-size: 22px;
    color: #808080; }
  .number input {
    border: 0;
    padding: 0;
    border-radius: 0;
    height: auto;
    width: 100px;
    text-align: center;
    font-size: 18px;
    color: #404040;
    display: inline-block;
    vertical-align: middle; }

.title-box-cart {
  margin: 20px 0; }

.dinh-kem-hinh-anh {
  justify-content: left;
  display: flex;
  align-items: center; }
  .dinh-kem-hinh-anh .title-box-cart {
    margin-right: 8px; }

.xuat-hoa-don {
  border-top: 1px solid #E6E6E6;
  display: inline-block;
  width: 100%;
  padding: 20px 0 15px 0; }
  .xuat-hoa-don.custom-checkbox .label-custom {
    margin-bottom: 30px; }

.box-sticky-cart {
  background: #FFFFFF;
  width: 100%; }

.border-line-bottom {
  padding-bottom: 15px;
  border-bottom: 1px solid #E6E6E6; }

.box-bottom-cart {
  margin: 12px 0; }
  .box-bottom-cart.flex-center {
    height: auto;
    justify-content: space-between; }
  .box-bottom-cart span {
    font-size: 14px; }
  .box-bottom-cart .so-luong {
    padding-right: 20px; }
  .box-bottom-cart .so-luong,
  .box-bottom-cart .tien-tam-tinh {
    font-size: 16px;
    font-weight: 600; }

.tong-tien-thanh-toan {
  font-size: 20px !important; }

/* --------------------------Page Payment  ------------------------------*/
.payment .box-bottom-cart.flex-center:last-child {
  margin-bottom: 0; }
.payment .title-box-cart {
  margin-bottom: 10px; }
.payment .row {
  align-items: flex-start;
  margin-top: 25px; }
.payment .btn-thanh-toan {
  max-width: 320px;
  width: 100%; }
.payment .mini-cart {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 25px; }
  .payment .mini-cart p {
    font-size: 14px;
    margin-bottom: 12px; }
.payment .thong-tin-xuat-hd {
  display: none; }
.payment .remove-view-tt {
  display: none; }
.payment .show-thong-tin-xuat-hd {
  display: block; }
  .payment .show-thong-tin-xuat-hd .thong-tin-xuat-hd {
    display: block; }
  .payment .show-thong-tin-xuat-hd .remove-view-tt {
    display: flex; }
  .payment .show-thong-tin-xuat-hd .view-more-tt {
    display: none !important; }
.payment .box-sticky-cart {
  border-top: 1px solid #E6E6E6; }

.file-uploaded {
  border: 1px dashed #C4C8D3;
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 20px; }
  .file-uploaded img {
    margin-right: 5px;
    height: 20px; }
  .file-uploaded span {
    font-size: 14px; }

.view-more-tt,
.remove-view-tt {
  cursor: pointer;
  width: 100%;
  margin: 15px 0; }
  .view-more-tt i,
  .remove-view-tt i {
    margin-left: 5px;
    font-size: 14px; }
  .view-more-tt:hover p,
  .view-more-tt:hover i,
  .remove-view-tt:hover p,
  .remove-view-tt:hover i {
    color: #E22127; }

.list-img-product img {
  height: 55px;
  max-width: 95px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 8px; }

.box-hinh-thuc-tt {
  background: #FFFFFF;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px; }
  .box-hinh-thuc-tt .check-radio-custom [type="radio"]:checked + label,
  .box-hinh-thuc-tt .check-radio-custom [type="radio"]:not(:checked) + label {
    font-weight: 500; }
  .box-hinh-thuc-tt .check-radio-custom {
    margin: 5px 0 5px 0; }
  .box-hinh-thuc-tt .so-tai-khoan {
    position: relative; }
    .box-hinh-thuc-tt .so-tai-khoan .copy-stk {
      position: absolute;
      right: 30px;
      cursor: pointer; }
  .box-hinh-thuc-tt p {
    margin: 5px 0;
    font-size: 14px; }
  .box-hinh-thuc-tt .info-taikhoan {
    padding-left: 30px; }
    .box-hinh-thuc-tt .info-taikhoan .flex-tktt {
      position: relative;
      padding-left: 140px;
      display: flex;
      align-items: center; }
      .box-hinh-thuc-tt .info-taikhoan .flex-tktt .img-tknh {
        height: 70px;
        position: absolute;
        left: 0; }

.list-qr-code {
  display: flex; }

.show-active-qr.qr-code a {
  border: 1px solid #E22127; }
  .show-active-qr.qr-code a span {
    color: #E22127; }

.qr-code {
  display: inline-block; }
  .qr-code a {
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    margin: 8px 10px 8px 0;
    cursor: pointer; }
  .qr-code img {
    height: 54px; }

/* ----------------------------- Payment sucess -----------------------*/
.payment-success .mini-cart {
  max-width: 640px;
  margin: 0 auto;
  padding: 30px; }

.title-success {
  text-align: center;
  margin-bottom: 30px; }
  .title-success img {
    height: 155px; }
  .title-success h4 {
    font-size: 20px;
    color: #4EA52F;
    text-transform: uppercase;
    font-weight: 600; }

.your-cart {
  margin-top: 40px; }
  .your-cart p {
    font-size: 14px;
    margin-bottom: 5px; }
  .your-cart .head-item {
    margin-top: 30px; }
    .your-cart .head-item h4 {
      font-size: 16px; }

/* ----------------------------- Section detail list  -----------------------*/
.slider-product-detail .item {
  margin-bottom: 60px; }
.slider-product-detail .lSSlideOuter .lSPager.lSGallery li img {
  opacity: 0.3; }
.slider-product-detail .lSSlideOuter .lSPager.lSGallery li.active img {
  opacity: 1; }
.slider-product-detail .lSAction > .lSPrev,
.slider-product-detail .lSAction > .lSNext {
  background-position: unset; }
.slider-product-detail .lSAction > a {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index: 0; }
.slider-product-detail .lSAction > .lSPrev {
  background-image: url(../images/arrow-left.png);
  background-size: contain !important;
  left: 20px; }
.slider-product-detail .lSAction > .lSNext {
  background-image: url(../images/arrow-right.png);
  background-size: contain !important;
  right: 20px; }
.slider-product-detail .lSSlideOuter img {
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  width: 100%; }
.slider-product-detail .lSPager.lSGallery {
  margin-left: 0; }
.slider-product-detail .lSSlideOuter .lSPager.lSGallery img {
  height: 55px;
  border-radius: 2px; }

.title-section-detail {
  color: #353F60;
  font-size: 22px;
  font-weight: 500; }

.description-body, .content-rating {
  position: relative;
  height: 480px;
  overflow: hidden;
  padding-bottom: 50px; }

.heightAuto {
  height: initial !important;
  overflow: initial; }
  .heightAuto .expand-content-editor, .heightAuto .expand-content-editor-rating {
    background-image: unset; }
    .heightAuto .expand-content-editor button::before, .heightAuto .expand-content-editor-rating button::before {
      content: 'Rút gọn';
      display: inline-block; }
    .heightAuto .expand-content-editor button::after, .heightAuto .expand-content-editor-rating button::after {
      content: ' ';
      display: inline-block;
      background: url(../images/d-icon-rutgon.svg) center top no-repeat;
      width: 16px;
      height: 16px;
      margin-left: 5px; }

.expand-content-editor, .expand-content-editor-rating {
  background-image: linear-gradient(rgba(255, 255, 255, 0), white);
  display: inline-block;
  height: 480px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  left: 0; }
  .expand-content-editor button, .expand-content-editor-rating button {
    border: 1px solid #E22127;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E22127;
    background: white;
    border-radius: 6px;
    height: 40px; }
    .expand-content-editor button::before, .expand-content-editor-rating button::before {
      content: 'Xem thêm';
      display: inline-block; }
    .expand-content-editor button::after, .expand-content-editor-rating button::after {
      content: ' ';
      display: inline-block;
      background: url(../images/d-icon-xemthem.svg) center top no-repeat;
      width: 16px;
      height: 16px;
      margin-left: 5px; }

.content-rating {
  padding-bottom: 70px; }
  .content-rating .expand-content-editor-rating button::before {
    content: 'Xem đánh giá'; }
  .content-rating.heightAuto .expand-content-editor-rating button::before {
    content: 'Rút gọn đánh giá'; }

.huong-dan-dat-hang {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px; }
  .huong-dan-dat-hang li {
    list-style: none;
    width: 33.3%;
    padding-right: 20px; }
    .huong-dan-dat-hang li:last-child {
      padding-right: 0; }
    .huong-dan-dat-hang li img {
      height: 95px;
      margin-bottom: 20px; }
    .huong-dan-dat-hang li p {
      margin: 5px 0; }
    .huong-dan-dat-hang li .number-step-hd {
      color: #E22127;
      font-weight: 5;
      border: 1.5px solid #E22127;
      padding: 10px;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      margin-bottom: 20px;
      font-weight: 600; }
    .huong-dan-dat-hang li span {
      font-size: 14px; }

.box-danh-gia {
  margin: 40px 0 10px 0; }
  .box-danh-gia .flex-center {
    justify-content: space-between; }
    .box-danh-gia .flex-center p {
      margin: 0; }
  .box-danh-gia .total-point {
    font-size: 26px !important; }

.box-info-rating {
  position: relative;
  padding-left: 368px;
  margin-right: -10px; }
  .box-info-rating .info-rating-left {
    position: absolute;
    left: 0; }
    .box-info-rating .info-rating-left span {
      color: #cccccc;
      margin-bottom: -5px; }
    .box-info-rating .info-rating-left svg {
      width: 24px;
      height: 24px; }
  .box-info-rating .info-rating-right .list-img-product img {
    height: 70px; }
  .box-info-rating .info-rating-right p {
    font-size: 14px; }

.last-child-img {
  position: relative;
  display: inline-block; }

.box-view-more-img {
  background: #1798ee99;
  border-radius: 2px;
  color: white;
  position: absolute;
  width: 93px;
  top: 0;
  height: 70px;
  text-align: center;
  padding: 30px 40px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center; }

.none-border {
  border: 0 !important; }

.content-rating {
  display: inline-block;
  width: 100%; }

.rating-headpage .rate {
  padding-left: 0; }
.rating-headpage .total-point {
  margin: 0 4px -2px 3px;
  font-size: 14px !important; }
.rating-headpage span.text-alpha {
  margin-bottom: -2px !important; }
.rating-headpage .rate:not(:checked) > label {
  font-size: 20px; }

.detail-rating {
  position: relative;
  padding: 0 0 20px 75px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #E6E6E6; }
  .detail-rating:last-child {
    border-bottom: 0 !important; }
  .detail-rating .ava-rating {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px; }
  .detail-rating .detail-rating-right p {
    font-size: 14px;
    text-align: justify; }
  .detail-rating .detail-rating-right .name-user-rating {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0; }
  .detail-rating .detail-rating-right .time-rating {
    color: #808080;
    margin: 0 5px; }
  .detail-rating .detail-rating-right .total-point {
    font-size: 15px !important;
    color: #E22127; }
  .detail-rating .detail-rating-right .flex-center {
    justify-content: left; }
  .detail-rating .detail-rating-right .reply-cmt {
    cursor: pointer;
    color: #808080; }
    .detail-rating .detail-rating-right .reply-cmt img {
      margin-right: 6px; }
  .detail-rating .detail-rating-right .btn-gui-cmt {
    max-width: fit-content;
    width: 100%; }
  .detail-rating.rating-sub {
    margin: 20px 0 20px 40px;
    padding-right: 30px; }
  .detail-rating .input-viet-dg {
    height: 60px !important; }

.slider-other-banner {
  margin-top: 15px; }
  .slider-other-banner .item {
    padding: 0 15px; }
  .slider-other-banner .owl-nav {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 38%; }

/*   ----------------------- Modal viet danh gia  --------------------*/
.modal-viet-danh-gia .modal-body .rate:not(:checked) > label {
  font-size: 40px;
  margin: 5px 0;
  overflow: inherit; }
.modal-viet-danh-gia .modal-body .total-star .mdi {
  font-size: 40px; }
.modal-viet-danh-gia .modal-body .btn-common-fill {
  width: 100%; }
.modal-viet-danh-gia .modal-body p {
  color: #4EA52F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 14px; }
  .modal-viet-danh-gia .modal-body p img {
    margin-right: 5px;
    height: 20px; }

/*--------------- Section list print -------------*/
.item-print {
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 20px 40px 20px 30px;
  position: relative;
  transition: all .3s ease-in-out;
  margin-bottom: 45px; }
  .item-print .title-item-print a {
    color: #404040; }
  .item-print .img-icon-item {
    height: 54px;
    margin-bottom: 15px; }
  .item-print p {
    font-size: 14px; }
  .item-print .icon-arrow-down {
    display: inline-block;
    position: absolute;
    right: 14px;
    bottom: 10px; }
  .item-print:hover {
    border: 1px solid #E22127;
    cursor: pointer;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08); }
    .item-print:hover .title-item-print a {
      color: #E22127; }
    .item-print:hover svg path {
      fill: #E22127; }

/*--------------- Page list project -------------*/
.box-empty-project {
  text-align: center; }
  .box-empty-project .img-ic-empty {
    height: 270px; }

.section-ux-research .item-print {
  border: 0; }

.section-sitemap img {
  width: 100%;
  margin-bottom: 15px; }

.section-cong-cu-sd.frontend-backend .list-doi-tac img {
  height: 125px;
  margin: 30px 15px; }
.section-cong-cu-sd.frontend-backend .btn-common-fill {
  max-width: 420px;
  width: 100%; }

/*--------------- Page-list-service -------------*/
.page-list-service .box-banner {
  border: 0;
  padding: 0; }
  .page-list-service .box-banner .info-box-banner {
    padding: 15px 20px 5px 20px; }
    .page-list-service .box-banner .info-box-banner .title-box-banner {
      font-size: 22px;
      font-weight: 500; }
      .page-list-service .box-banner .info-box-banner .title-box-banner:hover {
        color: #808080; }
.page-list-service .list-info-item {
  padding-left: 20px;
  padding-bottom: 5px;
  min-height: 200px; }
  .page-list-service .list-info-item li {
    padding-left: 0;
    display: flex;
    align-items: center; }
    .page-list-service .list-info-item li::before {
      content: " ";
      display: inline-block;
      text-align: center;
      padding: 3px;
      background: #C4C8D3;
      border-radius: 50%;
      margin-right: 10px; }
    .page-list-service .list-info-item li a {
      color: #808080; }
      .page-list-service .list-info-item li a:hover {
        color: #808080; }

/*--------------- Page detail ui ux website -------------*/
.intro-head-title {
  border-left: 3px solid #E22127;
  padding-left: 20px;
  max-width: 670px;
  text-align: justify;
  margin: 20px 0 30px 0; }
  .intro-head-title p {
    font-size: 20px;
    line-height: 28px; }

.img-uiux-website img {
  width: 100%; }

.title-section.small-text.color-white-title {
  color: white; }
.title-section.small-text h2 {
  font-size: 40px; }
  .title-section.small-text h2 span {
    font-size: 40px;
    color: #E22127; }

.list-doi-tac {
  display: inline-block;
  width: 100%; }
  .list-doi-tac img {
    height: 65px;
    margin: 30px 40px; }

.menu-tab {
  width: 100%;
  background: #F5F7FA;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
  display: none; }
  .menu-tab ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    margin: 0;
    padding-bottom: 0;
    overflow-x: scroll;
    height: auto;
    white-space: nowrap;
    width: 100%;
    flex-wrap: unset; }
    .menu-tab ul li {
      padding: 10px 20px;
      list-style: none; }
      .menu-tab ul li a {
        color: #404040;
        font-size: 16px;
        padding-bottom: 10px; }
        .menu-tab ul li a:hover {
          color: #E22127; }
        .menu-tab ul li a.show-active {
          color: #E22127 !important;
          border-bottom: 1px solid #E22127 !important; }
  .menu-tab.menu-scroll {
    top: 60px;
    display: block; }

.section-red-full {
  background-color: #E22127; }
  .section-red-full .item-print {
    border-radius: 0;
    border: 0;
    margin: 15px 0;
    text-align: left; }
    .section-red-full .item-print .title-item-print a, .section-red-full .item-print p {
      color: white; }
    .section-red-full .item-print:hover {
      box-shadow: none; }

.section-bg-logo {
  position: relative;
  margin: 0 auto;
  text-align: center; }
  .section-bg-logo .bg-logo {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .section-bg-logo .list-print {
    display: flex;
    height: 100%;
    align-items: flex-start;
    margin-top: 20px; }

.two-col-btn .btn-action {
  width: initial;
  margin-right: 10px; }
  .two-col-btn .btn-action a {
    text-transform: uppercase; }

.detail-uiux-website ul {
  display: inline-block;
  width: 100%; }
  .detail-uiux-website ul li {
    list-style: none;
    float: left;
    width: 30%; }
    .detail-uiux-website ul li a {
      margin-bottom: 10px;
      display: inline-block; }
      .detail-uiux-website ul li a:hover {
        color: #808080; }

#id-du-an-hoan-thanh .btn-common-fill {
  max-width: 420px;
  width: 100%; }

.list-sp-hoan-thien {
  margin: 30px 0;
  display: inline-block; }
  .list-sp-hoan-thien li {
    list-style: none;
    float: left;
    margin-bottom: 15px;
    width: 50%; }
    .list-sp-hoan-thien li img {
      width: 100%;
      border-radius: 2px 2px 0 0; }

.section-same-project .list-du-an-hoan-thanh .avatar-thumb a {
  padding-top: 60%; }
.section-same-project .item-news {
  border: 1px solid #E6E6E6;
  border-radius: 4px; }
  .section-same-project .item-news .info-news {
    padding: 15px; }

/* ----------- Quy trinh thuc hien  ---------*/
.how-we-work {
  display: inline-block;
  width: 100%;
  padding: 50px 0 100px 0; }
  .how-we-work .container {
    position: relative; }
  .how-we-work ul {
    margin-top: 110px;
    position: relative; }
    .how-we-work ul li {
      float: left;
      padding: 0 5px;
      width: 12.5%;
      list-style: none; }
      .how-we-work ul li .item-how-work {
        background: white;
        box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
        padding: 15px 5px;
        text-align: center; }
        .how-we-work ul li .item-how-work img {
          height: 53px;
          margin-bottom: 15px; }
        .how-we-work ul li .item-how-work h4 {
          font-size: 13px;
          color: #404040;
          height: 53px; }
      .how-we-work ul li:nth-child(odd) {
        margin-top: -30px; }

.img-background {
  position: absolute;
  top: 100px;
  left: 55px;
  width: 100%; }
  .img-background img {
    width: 1050px;
    height: 309px; }

/* ----------- Công cụ sử dụng  ---------*/
.section-cong-cu-sd .list-doi-tac {
  margin: 30px 0 10px 0; }
  .section-cong-cu-sd .list-doi-tac img {
    border: 0;
    height: 50px; }

.list-du-an-hoan-thanh {
  margin-top: 30px; }
  .list-du-an-hoan-thanh .avatar-thumb a {
    padding-top: inherit !important; }
    .list-du-an-hoan-thanh .avatar-thumb a img {
      position: inherit !important; }

.section-request {
  padding: 70px 0; }
  .section-request .section-bg-logo .title-section p {
    max-width: 700px;
    margin: 0 auto; }
  .section-request .section-bg-logo .bg-logo {
    height: 320px; }

.modal-gui-yeu-cau .btn-common-fill {
  width: 100%; }
.modal-gui-yeu-cau .file-upload-w-file-name [type=file] + label {
  width: fit-content; }
.modal-gui-yeu-cau .file-upload-w-file-name [type=file] + label img {
  margin-right: 0; }

/*----------------- Page about -----------------*/
.slider-csvc-about {
  position: relative; }
  .slider-csvc-about .item__third {
    padding: 0 20px; }
  .slider-csvc-about .carousel-indicators {
    display: none; }
  .slider-csvc-about .carousel-control-prev {
    left: 300px;
    background: transparent; }
  .slider-csvc-about .carousel-control-prev-icon {
    background-image: url(../images/arrow-left-pro.svg);
    width: 50px;
    height: 50px; }
  .slider-csvc-about .carousel-control-next {
    right: 300px;
    background: transparent; }
  .slider-csvc-about .carousel-control-next-icon {
    background-image: url(../images/arrow-right-pro.svg);
    width: 50px;
    height: 50px; }

.show-neighbors {
  overflow: hidden; }
  .show-neighbors .item__third:first-child,
  .show-neighbors .item__third:last-child {
    display: none; }
  @media (min-width: 500px) {
    .show-neighbors .carousel-indicators {
      margin-right: 25%;
      margin-left: 25%; }
    .show-neighbors .carousel-control-prev,
    .show-neighbors .carousel-control-next {
      width: 25%;
      z-index: 11;
      /* .carousel-caption has z-index 10 */ }
    .show-neighbors .carousel-inner {
      width: 150%;
      left: -25%; }
    .show-neighbors .carousel-item-next:not(.carousel-item-left),
    .show-neighbors .carousel-item-right.active {
      -webkit-transform: translate3d(33%, 0, 0);
      transform: translate3d(33%, 0, 0); }
    .show-neighbors .carousel-item-prev:not(.carousel-item-right),
    .show-neighbors .carousel-item-left.active {
      -webkit-transform: translate3d(-33%, 0, 0);
      transform: translate3d(-33%, 0, 0); }
    .show-neighbors .item__third {
      display: block !important;
      float: left;
      position: relative;
      /* captions can now be added */
      width: 33.33333333%; } }

.slider-csvc-about button.owl-prev {
  left: 50px !important;
  top: 40%; }

.slider-csvc-about button.owl-next {
  right: 50px !important;
  top: 40%; }

.section-intro-about {
  align-items: center; }
  .section-intro-about img {
    width: 100%; }
  .section-intro-about p {
    text-align: justify; }

.list-info-value {
  margin-bottom: 0; }
  .list-info-value .title-value {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px; }
  .list-info-value p {
    font-size: 14px; }
  .list-info-value li {
    padding-left: 55px;
    position: relative;
    margin: 14px 0 0 0;
    list-style: none;
    display: inline-block; }
    .list-info-value li img {
      height: 44px;
      width: auto;
      position: absolute;
      left: 0; }
    .list-info-value li:last-child {
      margin-bottom: 0; }

.process-section-about {
  padding-bottom: 0; }
  .process-section-about .bg-red {
    background-color: #E22127;
    position: relative;
    min-height: 500px; }

.list-process {
  background-color: #E22127;
  padding: 30px 80px 0 80px;
  color: white;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  display: flex; }
  .list-process .item-process {
    border-left: 1px dashed white;
    position: relative;
    padding: 20px 30px 30px 30px; }
    .list-process .item-process .about-procees1 {
      font-size: 22px;
      position: absolute;
      top: -50px;
      left: -10px; }
      .list-process .item-process .about-procees1::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: 30px; }
    .list-process .item-process:nth-child(2) {
      padding: 60px 30px; }
    .list-process .item-process:nth-child(3) {
      padding: 70px 30px 100px; }
    .list-process .item-process:nth-child(4) {
      padding: 120px 30px 150px; }

.info-process img {
  margin-bottom: 10px;
  height: 60px; }
.info-process p {
  margin-bottom: 0;
  font-size: 14px; }

.img-full-process {
  width: 100%; }

.list-doi-ngu .avatar-thumb a {
  margin-bottom: 15px;
  padding-top: 136%; }
  .list-doi-ngu .avatar-thumb a img {
    border-radius: 4px; }
.list-doi-ngu p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0; }
.list-doi-ngu span {
  color: #808080;
  font-size: 14px; }
.list-doi-ngu .info-member {
  margin-bottom: 10px; }

/* ----------- Custom rating  ---------*/
.list-img-rating svg {
  width: 18px;
  height: 18px;
  margin-right: 5px; }
  .list-img-rating svg.star-red path {
    fill: #E22127; }
  .list-img-rating svg.star-none-rate path {
    fill: #ccc; }

.list-img-rating {
  display: flex;
  align-items: center; }
  .list-img-rating .total-point {
    font-weight: 500;
    color: #E22127;
    font-weight: 500;
    font-size: 15px; }
  .list-img-rating span.text-alpha {
    font-size: 14px;
    margin-left: 3px; }

.rating-bar {
  display: inline-block;
  width: 100%;
  /* Clear floats after the columns */
  /* The bar container */
  /* Individual bars */ }
  .rating-bar .list-img-rating svg {
    width: 18px;
    height: 18px; }
  .rating-bar .total-point {
    font-size: 14px !important;
    margin-right: 3px;
    color: #404040;
    font-weight: normal; }
  .rating-bar .middle {
    align-items: center;
    display: flex;
    width: 288px;
    margin: 5px 0px; }
    .rating-bar .middle span {
      padding-right: 10px;
      margin-bottom: -8px;
      display: flex;
      align-items: center; }
      .rating-bar .middle span img {
        height: 12px;
        margin-left: 5px; }
    .rating-bar .middle .star-right {
      margin-left: 10px;
      color: #808080; }
  .rating-bar .row:after {
    content: "";
    display: table;
    clear: both; }
  .rating-bar .bar-container {
    height: 12px;
    width: 240px;
    text-align: center;
    color: white;
    background: #EBEEF2;
    border-radius: 2px; }
  .rating-bar .bar-5 {
    width: 100%;
    height: 12px;
    background: #E22127;
    border-radius: 2px; }
  .rating-bar .bar-4 {
    width: 80%;
    height: 12px;
    background: #E22127;
    border-radius: 2px; }
  .rating-bar .bar-3 {
    width: 60%;
    height: 12px;
    background: #E22127;
    border-radius: 2px; }
  .rating-bar .bar-2 {
    width: 20%;
    height: 12px;
    background: #E22127;
    border-radius: 2px; }
  .rating-bar .bar-1 {
    width: 2%;
    height: 12px;
    background: #E22127;
    border-radius: 2px; }

.rate {
  padding: 0 10px; }
  .rate label {
    margin-bottom: 0 !important; }

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px; }

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 24px;
  color: #ccc; }

.rate:not(:checked) > label:before {
  content: '★ '; }

.rate > input:checked ~ label {
  color: #E22127; }

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #E22127; }

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #E22127; }

/* ---------------------------Custom tooltip ------------------------------- */
.tooltip {
  opacity: 1;
  position: relative;
  display: inline-block;
  cursor: pointer; }
  .tooltip img {
    height: 20px; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 230px;
  color: #404040;
  text-align: left;
  padding: 14px;
  background: #FFFFFF;
  box-shadow: 0px -1px 16px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  position: absolute;
  left: 20px;
  top: 0;
  z-index: 1; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible; }

.section-detail-list .tab-system {
  border: 1px solid #E6E6E6; }
.section-detail-list .nav-tabs .nav-link {
  background-color: #F5F7FA;
  width: 33.3%;
  text-align: center;
  color: #404040;
  font-weight: 600;
  padding: 10px; }
  .section-detail-list .nav-tabs .nav-link:hover {
    border-color: transparent; }
  .section-detail-list .nav-tabs .nav-link.active {
    border-bottom: 1px solid #E22127 !important;
    color: #E22127;
    background-color: white; }
.section-detail-list .nav-tabs .nav-item.show .nav-link, .section-detail-list .nav-tabs .nav-link.active {
  border: 0; }
.section-detail-list .tab-content {
  padding: 30px; }
.section-detail-list .rating-social {
  display: flex;
  align-items: center; }
  .section-detail-list .rating-social .like-share {
    display: inline-block;
    height: 20px;
    margin-left: 20px; }

.lien-he-mua {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0; }
  .lien-he-mua span {
    color: #E22127;
    font-size: 16px; }

.noti-kh {
  color: #4EA52F;
  margin-top: 20px;
  justify-content: left; }
  .noti-kh img {
    margin-right: 5px;
    height: 14px; }

.box-tab-info-product-mb {
  display: none; }

.page-detail-list .list-info-item li svg path {
  fill: #CACACA; }
.page-detail-list .mini-cart p {
  text-align: justify; }
.page-detail-list .mini-cart .title-lagre .price-item {
  font-size: 26px; }
.page-detail-list .mini-cart .title-lagre .price-sale {
  font-size: 20px;
  margin: 10px; }
.page-detail-list .mini-cart .number {
  width: 100%;
  height: 45px;
  justify-content: space-around; }
  .page-detail-list .mini-cart .number span {
    font-size: 30px; }
.page-detail-list .mini-cart.mini-cart-right {
  padding: 0; }

.modal-show-full-img .owl-dots {
  display: none; }
.modal-show-full-img .detail-rating {
  padding-left: 60px; }
  .modal-show-full-img .detail-rating img {
    width: 45px;
    height: 45px; }
  .modal-show-full-img .detail-rating .detail-rating-right p {
    padding-right: 10px; }
    .modal-show-full-img .detail-rating .detail-rating-right p.name-user-rating {
      padding-right: 0; }
.modal-show-full-img button {
  height: auto; }
.modal-show-full-img .modal-dialog {
  max-width: 1100px; }
.modal-show-full-img .owl-prev, .modal-show-full-img .owl-next {
  top: 45%;
  width: 25px;
  height: 25px; }
.modal-show-full-img .owl-next {
  right: -30px; }
.modal-show-full-img .owl-prev {
  left: -30px; }
.modal-show-full-img .detail-rating {
  border-bottom: 0; }
.modal-show-full-img .avatar-thumb {
  margin-right: 30px; }
  .modal-show-full-img .avatar-thumb a img {
    border-radius: 4px; }

/*   ----------------------- Custom upload file  ------------------------------*/
.choose-img-upload {
  position: relative; }
  .choose-img-upload label {
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    display: flex;
    border: 1px solid #E6E6E6;
    position: relative;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    cursor: pointer; }
  .choose-img-upload input[type="file"] {
    display: none; }

.text-note-upload {
  margin: 10px 0;
  color: #808080;
  display: inline-block; }

.selected-img-upload .close-img {
  position: absolute;
  left: 0;
  top: -10px;
  height: 25px;
  cursor: pointer; }
.selected-img-upload .img-selected {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #E5E5E5; }

/* --------------------------- Custom tab content ------------------------------- */
.tab-custom .tab-content {
  margin: 20px 20px 0 10px; }
.tab-custom .nav-tabs {
  border: 0;
  display: flex;
  overflow-x: scroll;
  height: auto;
  white-space: nowrap;
  width: 100%;
  flex-wrap: unset;
  justify-content: left; }
  .tab-custom .nav-tabs .nav-link {
    color: #404040;
    border: 0;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600; }
    .tab-custom .nav-tabs .nav-link.active {
      background-color: transparent;
      border-bottom: 2px solid #E22127;
      color: #E22127; }

/* --------------------------- Pagging ------------------------------- */
.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #808080;
    padding: 4px;
    font-weight: 500; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      color: #E22127;
      border: 1px solid #E22127;
      padding-top: 5px; }
  .pagging-page ul li:hover a {
    color: white;
    background-color: #E22127; }

/* --------------Checkbox-------------------- */
.input-custom {
  display: none; }

.label-custom {
  color: #404040;
  line-height: 1.2;
  display: flex;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 15px;
  font-weight: normal !important;
  font-size: 14px; }
  .label-custom:checked {
    color: #E22127 !important; }
  .label-custom:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 14px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 2px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.label-custom:checked {
  color: #404040 !important; }

.input-custom:checked + .label-custom::before {
  color: white;
  background-color: #E22127;
  border: 1px solid #E22127; }

.input-custom:checked + .label-custom {
  color: #E22127 !important; }

/* check-radio-custom */
.check-radio-custom {
  margin: 5px 0 15px 0;
  display: flex; }

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.check-radio-custom [type="radio"]:checked + label,
.check-radio-custom [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  color: #404040;
  margin-bottom: 0;
  font-size: 14px; }

.check-radio-custom [type="radio"]:checked + label:before,
.check-radio-custom [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 18px;
  height: 18px;
  border: 1px solid #808080;
  border-radius: 100%;
  background: #fff; }

.check-radio-custom [type="radio"]:checked + label::before {
  border: 1px solid #E22127 !important; }

.check-radio-custom [type="radio"]:checked + label:after,
.check-radio-custom [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #E22127;
  position: absolute;
  top: 6px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.check-radio-custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.check-radio-custom [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.check-radio-custom p {
  margin: 0 20px; }

/* Custom select box */
.custom-select {
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  position: relative;
  padding: 0;
  background: none; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  color: #ABABAB;
  top: 10px;
  right: 25px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #404040;
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px; }

/* Style items (options): */
.select-items {
  padding: 15px 0;
  overflow-y: auto;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  max-height: 250px; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: #f8f9fa73; }

/* Loading page */
.tab-page-list {
  position: relative; }
  .tab-page-list nav {
    margin-left: -8px; }

.spinner-container {
  height: 100%;
  z-index: 99999;
  text-align: center;
  background-color: #ffffff;
  opacity: 0.7;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto; }
  .spinner-container .spinner {
    border: 3px solid #C4C8D3;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 45%;
    border-radius: 50%;
    border-right: 3px solid #E22127;
    text-align: center;
    animation-name: spin;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
    /*animation-timing-function: linear; /*linear spin */
    animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67); }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  /*50% {width:24px;height:24px} /*shrinking effect*/
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  /*50% {width:24px;height:24px} /*shrinking effect*/
  100% {
    -webkit-transform: rotate(360deg); } }
.section-ux-research .list-print .item-print .title-item-print, .section-red-full .list-print .item-print .title-item-print {
  min-height: 40px; }

.box-info-product-bottom .description-body img {
  width: 100%; }

.title-footer-bottom {
  text-transform: uppercase;
  padding-left: 20px;
  margin-bottom: 5px; }

footer .footer-bottom .info-right-ft {
  padding-left: 5px; }
footer .footer-bottom span:first-child {
  padding-right: 10px; }

/*# sourceMappingURL=style.css.map */
