@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
$text: #404040;
$text-alpha: #808080;
$border: #E6E6E6;
$bg-gray: #F5F7FA;
$brand: #E22127;

a {
	&:hover {
		text-decoration: none;
	}
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}

h1 {
	font-size: 62px;
	font-weight: 700;
}

h2 {
	font-size: 35px;
	font-weight: 500;
}

h3 {
	font-size: 24px;
	font-weight: 500;
}

h4 {
	font-size: 20px;
	font-weight: 500;
}

h5 {
	font-size: 18px;
	font-weight: 500;
}

h6 {
	font-size: 16px;
	font-weight: 500;
}

p {
	font-size: 16px;
}

strong,
b,
span,
i,
label {
	font-size: 13px;
}

section {
	padding: 40px 0;
	display: block;
	width: 100%;
	overflow: hidden;
}

.title-section {
	h2 {
		display: inline-block;
		width: 100%;
		font-size: 45px;
	}

}

.title-page {
	display: inline-block;
	width: 100%;
	font-weight: 900;
	text-align: left;

	h6 {
		font-weight: normal;
	}
}

a {
	text-decoration: none;
}

.fw-normal {
	font-weight: normal;
}

.fw-bold {
	font-weight: 600;
}

.flex-center {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.box-shadow {
	background: #FFFFFF;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
	padding: 20px;
}

.bg-gray {
	background-color: $bg-gray;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.p0 {
	padding: 0;
}

.pd-left {
	padding-left: 30px;
}

.pd-right {
	padding-right: 30px;
}

.center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.text-main {
	color: $text;
}

.text-white {
	color: #fff;
}

.text-brand {
	color: $brand;
}

.text-uppercase {
	text-transform: uppercase;
}

.none-overflow {
	overflow: initial;
}
.sticky-box{
	position: -webkit-sticky !important;
	position: sticky !important;
	top: 70px !important;
}
.none-uppercase {
	text-transform: inherit;
}

.text-alpha {
	color: $text-alpha;
}

.btn.focus,
.btn:focus {
	box-shadow: none;
}

body {
	font-family: 'Roboto', sans-serif;
	color: $text;
	font-weight: 400;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 24px;
	font-size: 16px;
}

.container {
	max-width: 1200px;
	margin: auto;
}

button:focus {
	outline: 0;
}

.btn-action {
	display: inline-block;
	width: 100%;

	a {
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	button {
		outline: none;
	}

	span {
		padding-left: 5px;
		font-weight: 900;
	}
}

.btn-common-line {
	background-color: transparent !important;
	border: 1.5px solid $brand  !important;
	color: $brand  !important;
}

input[type=button],
input[type=submit],
input[type=reset] {
	color: white !important;
}

.btn-common-fill,
.btn-common-line,
button,
input[type=button],
input[type=submit] {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $brand;
	padding: 0 24px;
	color: white;
	text-align: center;
	transition: all .3s ease-in-out;
	border: 1.5px solid $brand;
	color: white;
	height: 45px;
	line-height: 24px;
	font-weight: 500;
	font-size: 15px;
	border-radius: 4px;

	&:hover {
		opacity: 0.9;
		color: white;
	}

	i,
	span,
	img {
		font-weight: 600;
		margin-left: 5px;
	}

}

.scrollbar {
	width: 100%;
	margin: auto;
	overflow-x: auto;
}

::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #fff;
}

::-webkit-scrollbar {
	width: 1px;
	height: 0;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #ffffff;
}

textarea {
	height: 100px !important;
	padding-top: 12px !important;
}

input,
select,
textarea {
	border: 1px solid $border;
	border-radius: 4px;
	color: $text;
	width: 100%;
	padding: 5px 15px;
	height: 40px;
	font-size: 14px;
	font-weight: normal;

	&::placeholder {
		color: #C4C8D3;
		font-weight: normal;
	}

	&:focus {
		border: 1px solid $border;
	}
}

::-webkit-calendar-picker-indicator {
	filter: invert(0.6);
}


.avatar-thumb {
	display: inline-block;
	width: 100%;

	a {
		position: relative;
		padding-top: 56%;
		display: block;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}

}

.form-control:focus {
	border-color: $brand;
	outline: 0;
	box-shadow: none;
}

.breadcrumbs {
	padding: 20px 0 0px 0;
	margin-bottom: -30px;
	margin-top: 65px;
	i {
		color: $text-alpha;
		font-weight: 600;
		&.ti-angle-right{
			font-size: 10px;
			color: #80808082;
		}
	}

	a {
		color: $text-alpha;
		font-size: 13px;
	}
}

/* ----------------------- Modal----------------------- */
.modal {
	padding: 80px 0;
}

.modal-body {
	p {
		font-weight: normal;
	}
}

.modal-content {
	margin: auto;
	border: 0;
	border-radius: 2px;
	padding: 15px 20px;
}

.modal-dialog {
	max-width: 560px;
	margin: 0 auto;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.modal-header {
	padding: 0 10px;
	border-bottom: 0;

	.close {
		position: absolute;
		right: 20px;
		top: 20px;
		opacity: 1;

		i {
			font-size: 20px;
			color: $text-alpha;
			opacity: 1;
			font-weight: 600;
		}
	}
}

.modal-title {
	font-weight: 600;
}

@mixin webkit-line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.modal-dang-nhap {
	.btn-common-fill {
		width: 100% !important;
	}

	p {
		font-size: 14px;
	}

	.border-line {
		margin-top: 25px;
		border-top: 1px solid $border;
		width: 100%;
		position: relative;
		padding: 10px 0px 10px 0;

		span {
			color: $text-alpha;
			position: absolute;
			top: -12px;
			z-index: 2;
			left: 0;
			right: 0;
			background-color: white;
			text-align: center;
			width: fit-content;
			margin: 0 auto;
			padding: 0 10px;
		}
	}

	.quen-mk {
		float: right;
		font-size: 13px;
	}
}

.google-button {
	border: 1px solid $border;
	border-radius: 4px;
	background-color: white;
	height: 40px;
	text-align: center;
	font-weight: 500;
	margin: 15px 0;
	font-size: 14px;

	a {
		font-size: 14px;
		color: $text;

		img {
			margin-right: 5px;
		}
	}
}

.two-filed-col {
	.form-group {
		width: 250px;

		&:first-child {
			margin-right: 20px;
		}
	}
}

.modal-dang-ky {
	.flex-center {
		justify-content: space-between;
	}
}

.owl-carousel {
	z-index: 0;
}

/*-------------------------------------------------------- head menu -------------------------------------------------*/

header {
	display: inline-block;
	width: 100%;
	z-index: 2;
	position: fixed;
	top: 0;
	padding: 10px 30px;
	background: #FFFFFF;
	box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);

	.btn-common-fill {
		height: 40px;
	}

}

.header2 {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
}


.progress-container {
	width: 100%;
	height: 2px;
}

.progress-bar {
	height: 2px;
	background: $brand;
	width: 0%;
}

.logo {
	display: inline-block;
	padding-top: 5px;

	img {
		height: 30px;
	}
}

.content-head-left {
	float: left;
}

.content-head-right {
	display: flex;
	align-self: center;
	justify-content: right;

	.btn-start-project {
		max-width: fit-content;
	}

	.hotline,
	.btn-start-project,
	.account {
		margin: 0 8px;
	}
}

.account {
	position: relative;
	display: flex;
	align-items: center;

	i {
		color: $text;
		font-weight: 700;
	}

	a {
		span {
			font-size: 14px;
			color: $text;
		}
	}

	button {
		background: none;
		border: 0;
		color: $text;
		font-size: 15px;
		margin-left: 5px;
	}
	.title-acc{
		cursor: pointer;
	}
	.dropdown-avatar {
		width: 200px;
		top: 55px;
		right: -30px;
		left: inherit;
		box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
		border: 0;
		padding: 15px 20px;
		border-radius: 0 0 2px 2px;
		border-top: 1px solid $brand;
		position: absolute;
		visibility: hidden;
		opacity: 0;
		background: white;
		-webkit-transition: all .5s ease;
		transition: all .5s ease;

		a {
			transition: all 0.3s ease;
			margin: 10px 0;
		}
	}

	&:hover {
		.dropdown-avatar {
			opacity: 1;
			visibility: visible;

			a {

				&:hover {
					opacity: 0.8;
				}
			}

			.btn-common-fill {
				color: white;
				height: 45px;

				&:hover {
					opacity: 0.9;
					
				}
			}
		}

	}

	&.done-login {
		a {
			font-size: 15px;
			color: $text;
			display: inline-block;

			img {
				height: 23px;
				width: 23px;
				margin-right: 5px;
			}
			&:hover{
				color: $text-alpha;
				opacity: 1;
				img{
					opacity: 0.8;
				}
			}
		}
		.title-acc{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 125px;
		}
	}
	.avatar-acc{
		width: 26px !important;
		height: 26px !important;
	}
}

.profile-name {
    border-bottom: 1px solid #E6E6E6;
	padding-bottom: 10px;
	p{
		@include webkit-line-clamp();
		-webkit-line-clamp: 1;
	}
}
.hotline {
	a {
		font-size: 20px;
		font-weight: 700;

		img {
			margin-right: 5px;
		}

		&:hover {
			color: $brand;
		}
	}
}

.menu nav>ul {
	display: flex;
	justify-content: left;
	margin-bottom: 0;

}

.menu nav ul>li>a {
	&::before {
		content: "\e64b";
		display: inline-block;
		font-family: 'themify';
		font-size: 9px;
		font-weight: 100;
		position: absolute;
		right: 0;
		top: 0;
	}
}
.menu-scroll.show-menu{
	z-index: 2;
}
.menu {
	position: relative;
	z-index: 1;
	display: inline-block;

	nav {
		ul {
			padding: 0;

			li {
				position: relative;
				list-style: none;
				padding: 10px 0;
				;

				i {
					display: none;
				}

				a {
					padding: 0 15px;
					position: relative;
					font-size: 14px;
					font-weight: 600;
					color: $text;
					display: flex;
					align-items: center;

					&:hover {
						color: $text-alpha;

					}

					&.active {
						color: $text-alpha;
					}
				}

				ul {
					position: absolute;
					width: 220px;
					left: 0;
					top: 43px;
					border-radius: 0 0 2px 2px;
					border-top: 1px solid $brand;
					opacity: 0;
					visibility: hidden;
					background: white;
					box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
					padding: 15px 25px;
					-webkit-transition: all .5s ease;
					transition: all .5s ease;
					-webkit-transform: translateY(10px);
					transform: translateY(10px);
					li {
						padding: 3px 0;

						a {
							display: inline-block;
							width: 100%;
							font-weight: normal;
							transition: all 0.3s linear;
							transition: 0.5s;
							padding: 4px 0;
							font-size: 14px;

							&::before {
								display: none;
							}

							&:hover {
								padding-left: 5px;
								border-radius: 2px;
								color: $text-alpha;
							}
						}

					}

					&.sub-menu-two-col {
						width: 420px;

						li {
							float: left;
							width: 50%;
						}
					}

				}

				&:hover {
					ul {
						opacity: 1;
						visibility: initial;
					}
				}

				&.active {
					a {
						color: $text-alpha;
					}

					ul {
						li {
							a {
								color: $text;

								&.active {
									color: $text-alpha  !important;
								}
							}
						}
					}
				}
			}
		}
	}
}


/* -------Sticky menu srcoll----- */
.menu-scroll {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	background: #fff;


}

.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}

.menu-mobile {
	display: none;
}

/*-------------------------------------------------------- Section-banner-home-------------------------------------------------*/
.box-search {
	width: 100%;
	margin: auto;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	input {
		box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
		height: 60px;
		border-radius: 4px 0 0 4px;
		outline: none;
		font-size: 14px;
		border: 1px solid transparent;

		&::placeholder {
			color: $text;
			opacity: 0.3;
		}

		&:focus {
			border: 1px solid $border;
		}
	}

	button {
		height: 60px;
		outline: none;
		display: flex;
		align-items: center;
		border-radius: 0 4px 4px 0;

		i {
			font-size: 20px;
		}
	}
}

.section-banner-home {
	.row {
		align-items: center;
		padding: 50px 0 10px 0;
	}

	.content-banner-left {
		p {
			font-size: 20px;
			line-height: 30px;
		}
	}

	.owl-nav {
		display: none;
	}

	.slider-homepage {
		.avatar-thumb a {
			padding-top: inherit;
			img{
				position: inherit;
			}
		}
	}
}

.owl-theme .owl-dots .owl-dot {
	outline: 0;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: $brand;
}

.list-tag {

	a {
		font-size: 13px;
		background: #EBEEF2;
		border-radius: 4px;
		padding: 0 10px;
		display: inline-block;
		color: $text-alpha;
		margin: 10px 5px;
		border: 1px solid transparent;

		&:hover {
			border: 1px solid $border;
		}
	}
}

/* ----------------------------- Homepage -----------------------------*/
.section-list-cate {
	.row.list-cate {
		margin-left: -30px;
	}
}

.list-cate {
	.col-md-3 {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}

.item-cate {
	padding: 30px;
	color: $text;
	width: 100%;
	display: inline-block;
	margin: 15px;
	transition: 0.5s;

	img {
		height: 60px;
	}

	&:hover {
		color: $brand;
	}

	.title-cate {
		font-size: 18px;
		margin-top: 20px;
		margin-bottom: 0;
		@include webkit-line-clamp();

	}
}

.section-banner-info-home {

	.col-left-info-home {
		width: 50%;
		padding-right: 30px;

		.title-section {
			h2 {
				font-weight: normal;
			}
		}

	}

	.avatar-thumb {
		width: 50%;

		a {
			padding-top: inherit;
			img{
				position: inherit;
			}
		}
	}

}

.list-info-item {
	li {
		list-style: none;
		position: relative;
		padding-left: 30px;
		margin: 15px 0;
		@include webkit-line-clamp();

		svg,
		img {
			position: absolute;
			left: 0;
			height: 24px;
		}
	}
}

.list-doi-tac {
	text-align: center;

	img {
		height: 80px;
		margin: 15px 40px;
	}
}

/* --------------------------- thanh tuu dat duoc ------------------------------- */
.thanh-tuu {
	background-color: $brand;
	color: white;

	.title-section {
		font-weight: normal
	}

	p {
		@include webkit-line-clamp();
		-webkit-line-clamp: 4;
	}

	.btn-common-line {
		border: 1px solid white !important;
		color: white !important;
	}

	.col-right-number {
		padding-left: 30px;

		h2 {
			font-size: 70px;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				font-size: 40px;
				margin-left: 10px;
			}
		}

		.list-number {
			height: 230px;
			width: 50%;
			float: left;
			border: 1px solid #ffffff4d;
			padding: 30px 38px;
			border-bottom: 0;
			text-align: center;

			&:nth-child(1),
			&:nth-child(3) {
				border-right: 0
			}

			p {
				@include webkit-line-clamp();
				-webkit-line-clamp: 3;
			}

		}
	}
}

/* --------------------------- Du an da thuc hien ------------------------------- */
.du-an-da-thuc-hien {
	.des-title-section {
		max-width: 700px;
	}
}

.slider-du-an {
	position: relative;

	.avatar-thumb a {
		padding-top: inherit;

		img {
			border-radius: 4px;
			position: inherit;
		}
	}

	.title-du-an {
		color: white;
		font-size: 16px;
		font-weight: 600;
		position: absolute;
		z-index: 2;
		padding: 15px;
		height: 100%;
		width: 100%;
	}

	.box-linear {
		background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 0.5;
		border-radius: 4px;
		position: absolute;
		z-index: 1;
		height: 100%;
		display: inline-block;
		width: 100%;
	}

	.du-an {
		position: relative;
		display: inline-block;
		width: 100%;
	}

	.col-right-du-an {
		display: inline-block;
		width: 100%;

		.du-an {
			width: 47%;
			float: left;
			margin: 0 15px 10px 0;

			&:nth-child(3),
			&:nth-child(4) {
				margin-bottom: 0;
			}

			.avatar-thumb a {
				padding-top: inherit;
			}
		}
	}

	.owl-dots {
		display: none;
	}
}

.owl-nav span {
	opacity: 0;
}

.owl-prev,
.owl-next {
	position: absolute;
	top: 45%;
	width: 32px;
	height: 32px;

}

.owl-prev {
	left: -4%;
	background: url(../images/arrow-left.png) no-repeat center !important;
	background-size: contain !important;
}

.owl-next {
	right: -4%;
	background: url(../images/arrow-right.png) no-repeat center !important;
	background-size: contain !important;
}
/*------------------- call ring ------------------------*/

.call-to-action{
	display: block;
    bottom: 50px;
    position: fixed;
	right: 20px;
	z-index: 12 !important;
	.coccoc-alo-ph-circle {
		width: 70px;
		height: 70px;
		top: 55px;
		left: 55px;
		position: absolute;
		background-color: transparent;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		border: 2px solid $brand;
		opacity: .1;
		-webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
		-moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
		-ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
		-o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
		animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
	}
	
	.coccoc-alo-phone {
		background-color: transparent;
		width: 90px;
		height: 90px;
		margin-right: 30px;
		cursor: pointer;
		z-index: 200000 !important;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0);
		-webkit-transition: visibility .5s;
		-moz-transition: visibility .5s;
		-o-transition: visibility .5s;
		transition: visibility .5s;
		right: 150px;
		top: 30px;
	}
	
	.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
		background-color: #fff;
		box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.11);
		opacity: .75 !important;
	}
	
	.coccoc-alo-ph-circle-fill {
		width: 60px;
		height: 60px;
		top: 60px;
		left: 60px;
		position: absolute;
		background-color: #000;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		border: 2px solid transparent;
		opacity: .1;
		-webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
		-moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
		-ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
		-o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
		animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
	}

	.coccoc-alo-ph-img-circle {
		
		width: 40px;
		height: 40px;
		top: 70px;
		left: 70px;
		position: absolute;
		background: $brand url(../images/tuvan-mb.svg) no-repeat center center;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
	   
		-webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
		-moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
		-ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
		-o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
		animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
	}
	
	.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
		background-color: #2E75DF;
	}
	
	.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
		border-color: #2E75DF;
		opacity: .5;
	}
	
	.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
	.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
		border-color: $brand;
		opacity: .5;
	}
	
	.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
	.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
		background-color: #2E75DF;
		opacity: .75 !important;
	}
	
	.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
	.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
		background-color: #2E75DF;
	}

	.img-hot-line{
		.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
			background-color: $brand;
		}
		
		.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
			border-color: $brand;
			opacity: .5;
		}
		
		.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
		.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
			border-color: $brand;
			opacity: .5;
		}
		
		.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
		.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
			background-color: $brand;
			opacity: .75 !important;
		}
		
		.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
		.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
			background-color: $brand;
		}
	}
	
	@-moz-keyframes coccoc-alo-circle-anim {
		0% {
			transform: rotate(0) scale(.5) skew(1deg);
			opacity: .1
		}
		30% {
			transform: rotate(0) scale(.7) skew(1deg);
			opacity: .5
		}
		100% {
			transform: rotate(0) scale(1) skew(1deg);
			opacity: .1
		}
	}
	
	@-webkit-keyframes coccoc-alo-circle-anim {
		0% {
			transform: rotate(0) scale(.5) skew(1deg);
			opacity: .1
		}
		30% {
			transform: rotate(0) scale(.7) skew(1deg);
			opacity: .5
		}
		100% {
			transform: rotate(0) scale(1) skew(1deg);
			opacity: .1
		}
	}
	
	@-o-keyframes coccoc-alo-circle-anim {
		0% {
			transform: rotate(0) scale(.5) skew(1deg);
			opacity: .1
		}
		30% {
			transform: rotate(0) scale(.7) skew(1deg);
			opacity: .5
		}
		100% {
			transform: rotate(0) scale(1) skew(1deg);
			opacity: .1
		}
	}
	
	@keyframes coccoc-alo-circle-anim {
		0% {
			transform: rotate(0) scale(.5) skew(1deg);
			opacity: .1
		}
		30% {
			transform: rotate(0) scale(.7) skew(1deg);
			opacity: .5
		}
		100% {
			transform: rotate(0) scale(1) skew(1deg);
			opacity: .1
		}
	}
	
	@-moz-keyframes coccoc-alo-circle-fill-anim {
		0% {
			transform: rotate(0) scale(.7) skew(1deg);
			opacity: .2
		}
		50% {
			transform: rotate(0) scale(1) skew(1deg);
			opacity: .2
		}
		100% {
			transform: rotate(0) scale(.7) skew(1deg);
			opacity: .2
		}
	}
	
	@-webkit-keyframes coccoc-alo-circle-fill-anim {
		0% {
			transform: rotate(0) scale(.7) skew(1deg);
			opacity: .2
		}
		50% {
			transform: rotate(0) scale(1) skew(1deg);
			opacity: .2
		}
		100% {
			transform: rotate(0) scale(.7) skew(1deg);
			opacity: .2
		}
	}
	
	@-o-keyframes coccoc-alo-circle-fill-anim {
		0% {
			transform: rotate(0) scale(.7) skew(1deg);
			opacity: .2
		}
		50% {
			transform: rotate(0) scale(1) skew(1deg);
			opacity: .2
		}
		100% {
			transform: rotate(0) scale(.7) skew(1deg);
			opacity: .2
		}
	}
	
	@keyframes coccoc-alo-circle-fill-anim {
		0% {
			transform: rotate(0) scale(.7) skew(1deg);
			opacity: .2
		}
		50% {
			transform: rotate(0) scale(1) skew(1deg);
			opacity: .2
		}
		100% {
			transform: rotate(0) scale(.7) skew(1deg);
			opacity: .2
		}
	}
	
	@-moz-keyframes coccoc-alo-circle-img-anim {
		0% {
			transform: rotate(0) scale(1) skew(1deg)
		}
		10% {
			transform: rotate(-25deg) scale(1) skew(1deg)
		}
		20% {
			transform: rotate(25deg) scale(1) skew(1deg)
		}
		30% {
			transform: rotate(-25deg) scale(1) skew(1deg)
		}
		40% {
			transform: rotate(25deg) scale(1) skew(1deg)
		}
		50% {
			transform: rotate(0) scale(1) skew(1deg)
		}
		100% {
			transform: rotate(0) scale(1) skew(1deg)
		}
	}
	
	@-webkit-keyframes coccoc-alo-circle-img-anim {
		0% {
			transform: rotate(0) scale(1) skew(1deg)
		}
		10% {
			transform: rotate(-25deg) scale(1) skew(1deg)
		}
		20% {
			transform: rotate(25deg) scale(1) skew(1deg)
		}
		30% {
			transform: rotate(-25deg) scale(1) skew(1deg)
		}
		40% {
			transform: rotate(25deg) scale(1) skew(1deg)
		}
		50% {
			transform: rotate(0) scale(1) skew(1deg)
		}
		100% {
			transform: rotate(0) scale(1) skew(1deg)
		}
	}
	
	@-o-keyframes coccoc-alo-circle-img-anim {
		0% {
			transform: rotate(0) scale(1) skew(1deg)
		}
		10% {
			transform: rotate(-25deg) scale(1) skew(1deg)
		}
		20% {
			transform: rotate(25deg) scale(1) skew(1deg)
		}
		30% {
			transform: rotate(-25deg) scale(1) skew(1deg)
		}
		40% {
			transform: rotate(25deg) scale(1) skew(1deg)
		}
		50% {
			transform: rotate(0) scale(1) skew(1deg)
		}
		100% {
			transform: rotate(0) scale(1) skew(1deg)
		}
	}
	
	@keyframes coccoc-alo-circle-img-anim {
		0% {
			transform: rotate(0) scale(1) skew(1deg)
		}
		10% {
			transform: rotate(-25deg) scale(1) skew(1deg)
		}
		20% {
			transform: rotate(25deg) scale(1) skew(1deg)
		}
		30% {
			transform: rotate(-25deg) scale(1) skew(1deg)
		}
		40% {
			transform: rotate(25deg) scale(1) skew(1deg)
		}
		50% {
			transform: rotate(0) scale(1) skew(1deg)
		}
		100% {
			transform: rotate(0) scale(1) skew(1deg)
		}
	}


	.img-hot-line .coccoc-alo-ph-img-circle {
		background:  url(../images/cta-phone.svg) no-repeat center center;
	}
	.img-zalo .coccoc-alo-ph-img-circle {
		background:  url(../images/ic-zalo.svg) no-repeat center center;
	}
	.img-mess .coccoc-alo-ph-img-circle {
		background:  url(../images/ic-mess.svg) no-repeat center center;
	}
}
/*-------------------------------- Section tin tuc------------------------------ */
.item-news {
	margin-bottom: 20px;
	position: relative;
	display: inline-block;
	width: 100%;

	.info-news {
		padding: 15px 0;
		a span, span{
			color: $text-alpha;
		}
	}

	.avatar-thumb a img {
		border-radius: 2px;
	}
	&.lagre-news{
		.title-news {
			 a {
				font-size: 20px;
			}
		}
	}
	.title-news {
		margin-bottom: 10px;
		a {
			font-size: 16px;
			color: $text;
			font-weight: 500;
			@include webkit-line-clamp();

		}
	}

	.desc-news {
		@include webkit-line-clamp();
		font-size: 14px;
	}

	&.item-news-right {
		padding-left: 250px;
		min-height: 130px;

		.info-news {
			padding-top: 0;
		}

		.avatar-thumb {
			position: absolute;
			left: 0;
			width: 230px;
		}
	}
}

.date-time-news {
	p {
		margin-bottom: 5px;

		.date-news {
			&::after {
				content: '-';
				display: inline-block;
				margin-left: 5px;
			}
		}

		i {
			font-weight: 600;
		}
	}
}

/*-------------------------------- Footer ------------------------------ */

footer {
	padding: 40px 0 20px 0;
	border-top: 1px solid #F2F2F2;

	ul {
		margin-bottom: 0;

		li {
			list-style: none;

			a {
				color: $text-alpha;
				font-size: 13px;
				width: 100%;
				display: inline-block;
				margin-bottom: 8px;
				&:hover{
					color: $text;
				}
			}
		}
	}

	.line-footer {
		border: 0.5px solid #F2F2F2;
		margin: 30px 0;
	}

	.col-md-2 {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}

	.title-footer a {
		color: $text;
	}

	.footer-bottom {
		position: relative;
		padding-left: 240px;
		.logo-footer{
			position: absolute;
			left: 0;
		}
		span {
			color: $text-alpha;
		}
		.logo-footer{
			height: 90px;
		}
		img {
			height: 30px;
		}
	}
	.info-right-ft{
		display: flex;
		align-items: center;
		padding-bottom: 5px;
	}
	.info-footer-bottom {

		span,
		a {
			padding: 0 5px;
		}
	}

	.social-footer {
		display: inline-block;
		img {
			height: 24px;
		}
	}
	.hotline-footer{
		padding: 0 15px;
		img{
			height: 20px;
			margin-right: 5px;
		}
	}
}
/* ---------------------------- Page contact -----------------------*/
.page-contact{
	.title-section p{
		max-width: 700px;
	}
	.contact-form{
		.form-group{
			margin-bottom: 25px;
		}
		
		label{
			font-size: 13px;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
	.btn-action a{
		text-transform: uppercase;
		max-width: 230px;
		width: 100%;
	}
}
.info-contact-right{
	padding-left: 30px;
}
.info-detail-contact{
		font-size: 16px;
		margin-bottom: 20px;
		display: inline-block;
		width: 100%;
	b{
		font-size: 18px;
		margin-bottom: 10px;
		display: inline-block;
	}
	p{
		font-size: 14px;
		margin-bottom: 5px;
	}
}
/* ---------------------------- Page FAQs -----------------------*/
.page-faqs{
	.box-search{
		position: relative;
		margin: 0 0 30px 0;
		max-width: 500px;
		.ti-search{
			position: absolute;
			top: 20px;
			font-size: 20px;
			right: 20px;
			color: $border;
			font-weight: 600;
		}
		
		input {
			border: 1px solid #C4C8D3;
			box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
			border-radius: 4px;
			&::placeholder{
				color: $text-alpha;
				opacity: 1;
				font-size: 15px;
			}
		}
	} 
}
.tab-profile{
	.nav-link{
		padding: 10px 0;
		
	}

	.nav{
		display: initial;
	}
	.nav-tabs{
		border-bottom: 0;
	}
	.nav-tabs .nav-link{
		color: $text-alpha;
		border: 0;
		font-size: 15px;
	}
	.nav-tabs .nav-link.active{
		border: 0;
		color: $brand;
	}
	
}


#faq .card {
	border: 0;
	border-bottom: 1px solid $border;
  }
  
 #faq .card .card-header {
	
	padding: 0;
  }
  #faq .card .card-body {
	font-size: 15px;
	padding-left: 25px;
	padding-top: 0;
	text-align: justify;
  }
  
  #faq .card .card-header .btn-header-link {
	color: $text;
	display: block;
	text-align: left;
	background: #fff;
	padding: 20px 25px;
	border-radius: 0;
	font-weight: 500;
  }
  
#faq .card .card-header .btn-header-link:after {
	content: "\e64b";
	font-family: 'themify';
	font-weight: 700;
	position: absolute;
    left: 0;
    top: 20px;

  }

#faq .card .card-header .btn-header-link.collapsed {
	color: $text;
  }

#faq .card .card-header .btn-header-link.collapsed:after {
	content: "\e648";
  }
  
#faq .card .collapsing {
	background: #fff;
	line-height: 30px;
  }
  
#faq .card .collapse {
	border: 0;
  }
  
#faq .card .collapse.show {
	background: #fff;
	line-height: 30px;
	color: $text;
  }
  /* ---------------------------- Page news -----------------------*/
  .page-news{
	.item-news .title-news{
		a{
			-webkit-line-clamp: 3;
			font-size: 18px;
		}
		
		&.lagre-news a {
			font-size: 22px;
		}
	} 
  }
  .editor-body{
  
	ul, ol{
	  padding-left: 15px;
	}
	span, p, b, strong, label, i{
	  font-size: initial !important;
	  width: initial!important;
	  height: initial!important;
	  font-weight: initial!important;
	}
	h1, h2, h3, h4, h5, h6{
	  font-size: initial!important;
	  width: initial!important;
	  font-weight: initial!important;
	  height: initial!important;
	  margin: 20px 0;
	  span, p, b, strong, label, i{
		font-size: initial!important;
		width: initial!important;
		font-weight: initial!important;
		height: initial!important;
	  }
	}
	img{
		max-width:100% !important;
		margin:auto ;
	  	
	}
  }
.section-body-news{
	max-width: 940px;
	margin: 0 auto;
	  img{
		  width: 100%;
	  }
	  
	  p, img{
		  margin: 20px 0;
		  text-align: justify;
	  }
	 
  }
  .social-bottom-news{
	  float: right;
  }
  .box-muc-luc{
	  background-color: $bg-gray;
	  border-radius: 4px;
	  padding: 20px;
	  z-index: 1;
	  h5{
		  font-weight: 600;
	  }
	  ul{
		padding-left: 30px;
        margin-bottom: 0;
        li{
			margin-bottom: 10px;
			list-style: none;
            a{
				color: $text;
				line-height: 16px;
				font-size: 14px;
				font-weight: 600;
			}
            &.li-sub{
               
                padding-left: 20px;
                a{
					font-size: 13px;
					font-weight: inherit;
                }
                
            }
        }
    }
  }
  .page-detail-news{
	.social-footer{
		display: flex;
		align-items: center;
		p{
		  margin: 0 20px 0 0;
		}
		img{
			margin: 0;
			height: 40px;
		}
	}
	.title-section h1{
		font-size: 40px !important;
		margin-bottom: 30px;
	}
  }
 .page-policy{
	 .container{
		 max-width: 940px;
		 margin: 0 auto;
	 }
 }
  .page-account{
	.tab-system{
		table{
			margin-top: 30px;
			width: 100%;
			border-radius: 4px;
			font-size: 14px;
		
		}
		thead {
			background: #E7ECF1;
			width: 100%;
			th {
				padding: 8px 20px 8px 8px;
				font-weight: normal;
			}
			tr{
				width: 100%;
			}
		}
		tbody{
			width: 100%;
			border: 1px solid $border;
			border-top: 0;
			tr{
				width: 100%;
				cursor: pointer;
				td{
					border-top: 1px solid $border;
					padding: 10px 20px 10px 10px;
					
				}
				&:nth-child(even) {
					background: #F5F7FA;
				}
			} 
			.ma-dh{
				color: $brand;
				text-decoration: underline;
			}
		}
		.nav-tabs .nav-item{
			font-weight: 600;
			font-size: 16px;
		}
		.ten-sp{
			
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;	
		}
	}
	.title-order-details{
		margin-top: 20px;
		.title-order{
			padding-left: 10px;
		}
	}
  }
  .box-thay-doi-mk{
	display: none;
	width: 100%;
	.col-md-6{
		float: left;
	}
  }
  .box-border-acc{
	  
	min-height: 400px;
	  margin-top: 30px;
	  border: 1px solid $border;
	  padding: 30px;
	  border-radius: 4px;
	  .form-group{
		  margin: 15px 0;
	  }
	  input{
		  height: 45px;
		  &::placeholder{
			  color: $text-alpha;
		  }
	  }
	  .input-custom:checked + .label-custom {
		color: inherit !important;
	}
	.btn-common-fill{
		background-color: #C4C8D3;
		color: white;
		border: 1px solid #C4C8D3;
	}
  }
  .show-box-doi-mk{
	display: inline-block !important;
	width: 100%;
  
}
.label-hoan-tat{
    color: #4EA52F;
    background-color: #EEF9EB;
    border-radius: 4px;
    padding: 6px 20px;
	cursor: pointer;
	font-size: 14px;
}
.label-chua-hoan-thanh{
    color: #EF7A30;
    background-color: #FFECE0;
    border-radius: 4px;
    padding: 6px 20px;
	cursor: pointer;
	font-size: 14px;
}
.label-mini-cart{
    color: $brand;
    background-color: #faeded;
    border-radius: 4px;
    padding: 3px 10px;
    cursor: pointer;
}
.box-detail-hoa-don{
	justify-content: right;
	align-items: flex-start;
	margin-top: 30px;
	.box-border-acc{
		min-height: 270px;
		margin-top: 0;
		max-width: 350px;
		width: 100%;
		margin-right: 20px;
	p{
		color: $text-alpha;
		font-size: 14px;
		margin-bottom: 10px;
		}
	}
	.box-order-right{
		max-width: 350px;
		width: 100%;
		img{
			height: 32px;
		}
		.bottom-cart-price{
			span{
				font-size: 20px;
			}
		}
		.box-border-acc{
			min-height: initial;
			padding: 20px;
			margin-top: 15px;
		}
	}
}
  /*------------- Custom tab content --------------*/
  .info-profile{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	.avatar{
		padding-right: 20px;
	}
	.bg-ava{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 5px;
		z-index: 10;
		.file-upload-w-file-name{
			padding-top: 0;
			margin-right: 0;
			margin-bottom: 5px;

			input{
				border: 0;
			}
			label{
				display: initial;
				padding: 0;
				border: 0;
				background: transparent;
			}
			svg{
				path{
					fill: white;
				}
				
			}
		}
		
	 }
	 .title-profile{
		 h2{
			 font-size: 26px;
		 }
		 a{
			 color: $text-alpha;
		 }
	 }
	.avatar{
		text-align: center;
		z-index: 5;
		position: relative;
		.avatar-thumb{
			height: 130px;
			width: 130px;
			margin: 0 auto ;
			overflow: hidden;
			background: #D7DCE3;
			border: 2px solid #FFFFFF;
			box-shadow: 0px 0px 11px rgba(85, 96, 128, 0.19);
			border-radius: 50%;
			
			a{
				img{
					border-radius: 100%;
				}
				&::before{
					margin-top: 25px;
					z-index: 7;
					width: 100%;
					background: #000000;
					opacity: 0.2;
					padding: 16px 0;
					display: inline-block;
					content: '';
					position: relative;
				}
			}
		}
	   
	}
  }
  /*------------- Custom tab content --------------*/
.tab-system{
	.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
		border-color: transparent;
	}

	.nav-tabs{
		border-bottom: 1.5px solid $border;
		justify-content: center;
		overflow-x: scroll;
		height: auto;
		white-space: nowrap;
		width: 100%;
		flex-wrap: unset;
		.nav-link{
			font-weight: 600;
			width: 25%;
			text-align: center;
			span{
				font-size: 14px;
			}
		}
	}
	.nav-item.show .nav-link, .nav-tabs .nav-link.active{
		background-color: transparent;
		border-bottom: 1.5px solid $brand;
		color: $brand;
	}
	
	.nav-tabs .nav-item {
		margin-bottom: 0;
		padding: 15px ;
		color: $text;
		font-weight: normal;
	}
}
/* ---------------------------- Page list -----------------------*/
.slider-page-list{
	.banner-list-pc{
		display: block;
	}
	.banner-list-mb{
		display: none;
	}
	.avatar-thumb a {
		padding-top: inherit !important;

		img {
			border-radius: 4px;
			position: inherit !important;
		}
	}

	.owl-dots {
		display: none;
	}
}
.file-upload-w-file-name{
	margin-right: 15px;
	[type=file] {
		position: absolute;
		filter: alpha(opacity=0);
		opacity: 0;
		width: 150px;
	}
	[type=file] + label {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	  border-radius: 4px;
	  text-align: center;
	  padding: 10px;
	  width: 150px;
	  margin: 0;
	  position: relative;
	  background: white;
	  color: $text;
	  border: 1px solid $border;
	  cursor: pointer;
	  img{
		margin-right: 5px;
	  }
	}
	
}
.page-list {
	.nav-tabs .nav-link {
		border: 1px solid #C4C8D3 !important;
		color: $text;
		border-radius: 4px;
		height: 45px;
		margin: 0 8px;
		padding: 10px 40px !important;
		font-weight: normal !important;
		&.active {
			background-color: $brand  !important;
			color: white !important;
			border-radius: 4px;
			height: 45px;
			border:  1px solid transparent !important;
		}
	}

}
.banner-theo-mau-col-right{
	.nav-tabs .nav-link {
		border: 0 !important;
	}
}
.content-page-list{
	.label-custom{
		color: $text-alpha;
		&::before{
			width: 17px;
			height: 17px;
			font-size: 12px;
		}
	}
	&.banner-theo-mau {
		margin-top: 40px;
		.col-md-3{
			padding-left: 5px;
		}
	}
}
.list-item {
	padding: 35px;
	margin-bottom: 30px;
	border: 1px solid transparent;
	transition: all .3s ease-in-out;
	border-radius: 4px;
	p {
		font-size: 14px;
		margin-top: 10px;
		color: $text-alpha;
		@include webkit-line-clamp();
	}

	.list-info-item {
		position: relative;
		li a {
			font-size: 14px;
		}

		svg {
			path {
				fill: $text;
			}
		}
	}
	.price-list-banner{
		font-size: 16px;
		font-weight: 600;
		color: $text;
		span{
			font-weight: normal;
		}
	}
	&:hover{
		border: 1px solid $brand;
	}
}

.label-popular{
	width: 80px;
    position: absolute;
    right: 30px;
    top: 15px;
}

.banner-theo-mau {
	align-items: flex-start;

	.box-shadow {
		padding: 0;
		box-shadow: none;
	}

	.list-danh-muc {
		li {
			list-style: none;
			margin: 12px 0;

			a {
				color: $text-alpha;
				font-size: 14px;

				&:hover {
					color: $brand;
				}
			}

			&.active {
				a {
					color: $brand;
				}
			}
		}
	}

	.check-radio-custom [type="radio"]:checked+label,
	.check-radio-custom [type="radio"]:not(:checked)+label {
		color: $text-alpha;
	}

	.flex-center {
		input {
			&:first-child {
				margin-right: 10px;
			}
		}
	}
}

.banner-theo-mau-col-right {
	.row {
		margin: 0 -35px;
	}

	.flex-center {
		justify-content: space-between;
	}

	.nav-tabs .nav-link {
		background-color: transparent !important;
		margin: 0;
		padding-right: 0px !important;
		display: flex;
		align-items: center;
		height: auto !important;

		i {
			font-size: 20px;
		}

		&.active {
			background-color: transparent !important;
			border-bottom: 0 !important;

			i {
				color: $brand  !important;
			}
		}
	}
}

.box-banner {
	display: inline-block;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #E9EAEE;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 30px;
	.avatar-thumb a{
		padding-top: inherit;
		img{
			position: inherit;
		}
	}
	.info-box-banner {
		padding: 15px 15px 20px 20px;

		.head-item {
			margin-top: 12px;
		}

		.title-box-banner {
			font-size: 20px;
			color: $text;
		}
	}

}

.head-item {
	justify-content: left;

	img {
		height: 70px;
	}

	.title-item {
		padding-left: 15px;
		h4{
			a{
				color: $text;
				@include webkit-line-clamp();
				-webkit-line-clamp: 1;
			}
		}
		a {
			margin-right: 10px;
		}
	}

	.price-item {
		color: $text;
		font-weight: 600;
		font-size: 16px;
	}

	.price-sale {
		color: $text-alpha;
		font-size: 13px;
		text-decoration: line-through;
	}

	.discounts {
		color: white;
		background-color: #4EA52F;
		border-radius: 4px;
		font-size: 13px;
		padding: 5px 10px;
	}
}

.mini-cart {
	background-color: #fff;

	.scrollbar {
		height: 56vh;
		padding-bottom: 20px;
	}

	.flex-center.head-item {
		height: auto;
		align-items: flex-start;
		border-bottom: 1px solid $border;
		padding-bottom: 20px;
	}

	.btn-common-fill {
		width: 100%;
	}
}

.mini-cart-right {
	position: fixed;
	top: 0;
	right: -430px;
	width: 430px;
	height: 100%;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;

	.box-sticky-cart {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 15px;
		box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.05);
	}
}

.content-mini-cart {
	padding: 30px 15px 15px 20px;
	.label-mini-cart{
		margin-bottom: 10px;
		display: inline-block;
	}
}

.full-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000080;
	z-index: 99;
	opacity: 0;
	visibility: hidden;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.mini-cart.show {
	right: 0;
	opacity: 1;
	visibility: visible;

}

body.hidden {
	overflow-y: hidden;
}

.mini-cart,
.mini-cart.show {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.mini-cart a.shopping-cart-close {
	position: absolute;
	top: 10px;
	right: 10px;
	line-height: 0px;

	i {
		font-size: 20px;
		color: $text-alpha;
		font-weight: 600;
	}
}

.number {
	margin-top: 20px;
	border: 1px solid #E6E6E6;
	border-radius: 4px;
	height: 40px;
	text-align: center;
    width: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
	span {
		cursor:pointer; 
	}
	
	.minus, .plus{
		vertical-align: middle;
		text-align: center;
		font-size: 22px;
		color: #808080;
	}
	input{
		border: 0;
		padding: 0;
		border-radius: 0;
		height:auto;
		width: 100px;
		text-align: center;
		font-size: 18px;
		color: $text;
		display: inline-block;
		vertical-align: middle;
	}
}

.title-box-cart {
	margin: 20px 0;
}

.dinh-kem-hinh-anh {
	justify-content: left;
	display: flex;
	align-items: center;

	.title-box-cart {
		margin-right: 8px;
		
	}

}

.xuat-hoa-don {
	border-top: 1px solid $border;
	display: inline-block;
	width: 100%;
	padding: 20px 0 15px 0;

	&.custom-checkbox .label-custom {
		margin-bottom: 30px;
	}
}

.box-sticky-cart {
	background: #FFFFFF;
	width: 100%;
}

.border-line-bottom {
	padding-bottom: 15px;
	border-bottom: 1px solid $border;
}

.box-bottom-cart {
	margin: 12px 0;

	&.flex-center {
		height: auto;
		justify-content: space-between;
	}

	span {
		font-size: 14px;
	}

	.so-luong {
		padding-right: 20px;
	}

	.so-luong,
	.tien-tam-tinh {
		font-size: 16px;
		font-weight: 600;
	}
}

.tong-tien-thanh-toan {
	font-size: 20px !important;
}

/* --------------------------Page Payment  ------------------------------*/
.payment {
	.box-bottom-cart.flex-center:last-child {
		margin-bottom: 0;
	}

	.title-box-cart {
		margin-bottom: 10px;
	}

	.row {
		align-items: flex-start;
		margin-top: 25px;
	}

	.btn-thanh-toan {
		max-width: 320px;
		width: 100%;
	}

	.mini-cart {
		box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
		border-radius: 4px;
		padding: 25px;

		p {
			font-size: 14px;
			margin-bottom: 12px;
		}
	}

	.thong-tin-xuat-hd {
		display: none;
	}

	.remove-view-tt {
		display: none;
	}

	.show-thong-tin-xuat-hd {
		display: block;

		.thong-tin-xuat-hd {
			display: block;
		}

		.remove-view-tt {
			display: flex;
		}

		.view-more-tt {
			display: none !important;
		}
	}

	.box-sticky-cart {
		border-top: 1px solid $border;
	}


}
.file-uploaded{
	border: 1px dashed #C4C8D3;
	border-radius: 4px;
	padding: 10px 20px;
	margin-bottom: 20px;
	img{
		margin-right: 5px;
		height: 20px;
	}
	span{
		font-size: 14px;
	}
}
.view-more-tt,
.remove-view-tt {
	cursor: pointer;
	width: 100%;
	margin: 15px 0;

	i {
		margin-left: 5px;
		font-size: 14px;
	}

	&:hover {

		p,
		i {
			color: $brand;
		}
	}
}

.list-img-product {
	img {
		height: 55px;
		max-width: 95px;
		border-radius: 4px;
		margin-right: 5px;
		margin-bottom: 8px;
	}
}

.box-hinh-thuc-tt {
	background: #FFFFFF;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 20px;

	.check-radio-custom [type="radio"]:checked+label,
	.check-radio-custom [type="radio"]:not(:checked)+label {
		font-weight: 500;
	}

	.check-radio-custom {
		margin: 5px 0 5px 0;
	}

	.so-tai-khoan {
		position: relative;

		.copy-stk {
			position: absolute;
			right: 30px;
			cursor: pointer;
		}

	}

	p {
		margin: 5px 0;
		font-size: 14px;
	}

	.info-taikhoan {
		padding-left: 30px;

		.flex-tktt {
			position: relative;
			padding-left: 140px;
			display: flex;
			align-items: center;

			.img-tknh {
				height: 70px;
				position: absolute;
				left: 0;
			}
		}
	}
}
.list-qr-code{
	display: flex;
}
.show-active-qr{
	&.qr-code a{
		border: 1px solid $brand;
		span {
			color: $brand;
			}
	}
}
.qr-code {
	display: inline-block;
	a {
		border: 1px solid $border;
		border-radius: 2px;
		padding: 10px 15px;
		display: inline-block;
		text-align: center;
		margin: 8px 10px 8px 0;
		cursor: pointer;
		
	}

	img {
		height: 54px;
	}

}
/* ----------------------------- Payment sucess -----------------------*/
.payment-success{
	.mini-cart{
		max-width: 640px;
		margin: 0 auto;
		padding: 30px;
	}
}
.title-success{
	text-align: center;
	margin-bottom: 30px;
	img{
		height: 155px;
	}
	h4{
		font-size: 20px;
		color: #4EA52F;
		text-transform: uppercase;
		font-weight: 600;
	}
}
.your-cart{
	margin-top: 40px;
	p{
		font-size: 14px;
		margin-bottom: 5px;
	}
	.head-item{
		margin-top: 30px;
		h4{
			font-size: 16px;
		}
	}
}

/* ----------------------------- Section detail list  -----------------------*/
.slider-product-detail {
	.item {
		margin-bottom: 60px;
	}

	.lSSlideOuter .lSPager.lSGallery li img {
		opacity: 0.3;
	}

	.lSSlideOuter .lSPager.lSGallery li.active img {
		opacity: 1;
	}

	.lSAction>.lSPrev,
	.lSAction>.lSNext {
		background-position: unset;
	}

	.lSAction>a {

		position: absolute;
		top: 50%;
		width: 32px;
		height: 32px;
		opacity: 1;
		z-index: 0;
	}

	.lSAction>.lSPrev {
		background-image: url(../images/arrow-left.png);
		background-size: contain !important;
		left: 20px;
	}

	.lSAction>.lSNext {
		background-image: url(../images/arrow-right.png);
		background-size: contain !important;
		right: 20px;
	}

	.lSSlideOuter {
		img {
			border-radius: 4px;
			border: 1px solid $border;
			width: 100%;
		}
	}

	.lSPager.lSGallery {
		margin-left: 0;
	}

	.lSSlideOuter .lSPager.lSGallery img {
		height: 55px;
		border-radius: 2px;

	}
}

.title-section-detail {
	color: #353F60;
	font-size: 22px;
	font-weight: 500;
}

.description-body, .content-rating{
	position: relative;
	height: 480px;
	overflow: hidden;
	padding-bottom: 50px;
}
.heightAuto{
	height: initial !important;
	overflow: initial;
	.expand-content-editor, .expand-content-editor-rating{
		background-image: unset;
		button{
			&::before{
				content: 'Rút gọn';
				display: inline-block;
			}
			&::after{
				content: ' ';
				display: inline-block;
				background: url(../images/d-icon-rutgon.svg) center top no-repeat;
				width: 16px;
				height: 16px;
				margin-left: 5px;
			}
		}
	}
}
.expand-content-editor, .expand-content-editor-rating{
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
	display: inline-block;
	height: 480px;
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	left: 0;
	button{
		border: 1px solid $brand;
		padding: 8px 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $brand;
		background: white;
		border-radius: 6px;
		height: 40px;
		&::before{
			content: 'Xem thêm';
			display: inline-block;
			
		}
		&::after{
			content: ' ';
			display: inline-block;
			background: url(../images/d-icon-xemthem.svg) center top no-repeat;
			width: 16px;
			height: 16px;
			margin-left: 5px;
		}
	}
}
.content-rating{
	padding-bottom: 70px;
	.expand-content-editor-rating{
		button{
			&::before{
				content: 'Xem đánh giá';
				
			}
		}
	}
	&.heightAuto{
		.expand-content-editor-rating{
			button{
				&::before{
					content: 'Rút gọn đánh giá';
				}
			}
		}
	}
	
}
.huong-dan-dat-hang {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 30px;

	li {
		list-style: none;
		width: 33.3%;
		padding-right: 20px;

		&:last-child {
			padding-right: 0;
		}

		img {
			height: 95px;
			margin-bottom: 20px;
		}

		p {
			margin: 5px 0;
		}

		.number-step-hd {
			color: $brand;
			font-weight: 5;
			border: 1.5px solid $brand;
			padding: 10px;
			border-radius: 100%;
			width: 35px;
			height: 35px;
			margin-bottom: 20px;
			font-weight: 600;
		}

		span {
			font-size: 14px;
		}
	}
}

.box-danh-gia {
	margin: 40px 0 10px 0;

	.flex-center {
		p {
			margin: 0;
		}

		justify-content: space-between;
	}

	.total-point {
		font-size: 26px !important;
	}
}

.box-info-rating {
	position: relative;
	padding-left: 368px;
    margin-right: -10px;

	.info-rating-left {
		position: absolute;
		left: 0;
		span{
			color: #cccccc;
			margin-bottom: -5px;
		}
		svg{
			width: 24px;
			height: 24px;
		}
	}

	.info-rating-right {
		.list-img-product img {
			height: 70px;
		}

		p {
			font-size: 14px;
		}
	}
}

.last-child-img {
	position: relative;
	display: inline-block;
}

.box-view-more-img {
	background: #1798ee99;
	border-radius: 2px;
	color: white;
	position: absolute;
	width: 93px;
	top: 0;
	height: 70px;
	text-align: center;
	padding: 30px 40px;
	font-weight: 600;
	cursor: pointer;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.none-border{
	border: 0 !important;
}
.content-rating {
	display: inline-block;
	width: 100%;
	
}
.rating-headpage{
	.rate{
		padding-left: 0;
	}
	
	.total-point{
		margin: 0 4px -2px 3px;
		font-size: 14px !important;
	}
	span.text-alpha {
		margin-bottom: -2px !important;
	}
	.rate:not(:checked) > label{
		font-size: 20px;
	}
}

.detail-rating {
	position: relative;
	padding: 0 0 20px 75px;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid $border;
		&:last-child{
			border-bottom: 0 !important;
		}
	.ava-rating {
		position: absolute;
		left: 0;
		top: 0;
		height: 60px;
	}

	.detail-rating-right {
	
		p {
			font-size: 14px;
			text-align: justify;
		}

		.name-user-rating {
			font-size: 14px;
			font-weight: 500;
			margin-bottom: 0;
		}

		.time-rating {
			color: $text-alpha;
			margin: 0 5px;
		}

		.total-point {
			font-size: 15px !important;
			color: $brand;
			
		}

		.flex-center {
			justify-content: left;
		}

		.reply-cmt {
			cursor: pointer;
			color: $text-alpha;

			img {
				margin-right: 6px;
			}
		}

		.btn-gui-cmt {
			max-width: fit-content;
			width: 100%;
		}

	}

	&.rating-sub {
		margin: 20px 0 20px 40px;
		padding-right: 30px;
	}

	.input-viet-dg {
		height: 60px !important;

	}
}

.slider-other-banner {
	margin-top: 15px;

	.item {
		padding: 0 15px;
	}

	.owl-nav {
		display: inline-block;
		width: 100%;
		position: absolute;
		top: 38%;
	}
}



/*   ----------------------- Modal viet danh gia  --------------------*/
.modal-viet-danh-gia {
	.modal-body {
		.rate:not(:checked) > label{
			font-size: 40px;
			margin: 5px 0;
			overflow: inherit;
		}
	
		.total-star .mdi {
			font-size: 40px;
		}

		.btn-common-fill {
			width: 100%;
		}

		p {
			color: #4EA52F;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 20px;
			font-size: 14px;

			img {
				margin-right: 5px;
				height: 20px;
			}
		}
	}
}
/*--------------- Section list print -------------*/
.item-print{
	border-radius: 4px;
	border: 1px solid $border;
	padding: 20px 40px 20px 30px;
	position: relative;
	transition: all .3s ease-in-out;
	margin-bottom: 45px;
	.title-item-print{
		a{
			color: $text;
		}
	}
	.img-icon-item{
		height: 54px;
		margin-bottom: 15px;
	}
	p{
		font-size: 14px;
	}
	.icon-arrow-down{
		display: inline-block;
		position: absolute;
		right: 14px;
    	bottom: 10px;
	}
	&:hover{
		border: 1px solid $brand;
		cursor: pointer;
		box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
		.title-item-print{
			a{
				color: $brand;
			}
		}
			svg{
				path{
					fill: $brand;
				}
			}
		}
	
}
/*--------------- Page list project -------------*/
.box-empty-project{
	text-align: center;
	.img-ic-empty{
		height: 270px;
	}
}

.section-ux-research{
	.item-print{
		border: 0;
	}
}
.section-sitemap{
	img{
		width: 100%;
		margin-bottom: 15px;
	}
}
.section-cong-cu-sd.frontend-backend{
	.list-doi-tac{
		img{
			height: 125px ;
			margin: 30px 15px;
		}
	}
	.btn-common-fill{
		max-width: 420px;
		width: 100%;
	
	}
}
/*--------------- Page-list-service -------------*/
.page-list-service{
	.box-banner{
		border: 0;
		padding: 0;
		.info-box-banner {
			padding: 15px 20px 5px 20px;
			.title-box-banner {
				font-size: 22px;
				font-weight: 500;
				&:hover{
					color: $text-alpha;
				}
			}
		}
	}
	.list-info-item{
		padding-left: 20px;
		padding-bottom: 5px;
		min-height: 200px;
		li {
			padding-left: 0;
			display: flex;
			align-items: center;
			&::before {
				content: " ";
				display: inline-block;
				text-align: center;
				padding: 3px;
				background: #C4C8D3;
				border-radius: 50%;
				margin-right: 10px;
			  }
			a{
				color: $text-alpha;
				&:hover{
					color: $text-alpha;
				}
			}
		}
	}
}
/*--------------- Page detail ui ux website -------------*/

.intro-head-title{
	border-left: 3px solid $brand;
	padding-left: 20px;
    max-width: 670px;
	text-align: justify;
	margin: 20px 0 30px 0;
	p{
		font-size: 20px;
		line-height: 28px;
	}
}
.img-uiux-website img{
	width: 100%;
}

.title-section.small-text{
	&.color-white-title{
		color: white;
	}
	h2{
		font-size: 40px;
		span{
			font-size: 40px;
			color: $brand;
		}
	}
}

.list-doi-tac{
	display: inline-block;
	width: 100%;
	img{
		
		height: 65px;
		margin: 30px 40px;
	}
}

.menu-tab{
	width: 100%;
	background: #F5F7FA;
	box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
	display: none;
	ul{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px 0;
		margin: 0;
		padding-bottom: 0;
		overflow-x: scroll;
		height: auto;
		white-space: nowrap;
		width: 100%;
		flex-wrap: unset;
		li{
			padding:10px 20px;
			list-style: none;
			a{
				color: $text;
				font-size: 16px;
				padding-bottom: 10px;
				&:hover{
					color: $brand;
				}
				&.show-active{
					color: $brand !important;
					border-bottom: 1px solid $brand !important;
					
				}
			}
		
			
		}
		
	}
	&.menu-scroll{
		top: 60px;
		display: block;
	}
	
}


.section-red-full{
	background-color: $brand;
	
	.item-print {
		border-radius: 0;
		border: 0;
		margin: 15px 0;
		text-align: left;
		.title-item-print a, p{
			color: white;
		}
		&:hover{
			box-shadow: none;
			
		}
	}
}
.section-bg-logo{
	position: relative;
	margin: 0 auto;
	text-align: center;
	.bg-logo{
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.list-print{
		display: flex;
		height: 100%;
		align-items: flex-start;
		margin-top: 20px;
	}
}
.two-col-btn{
	.btn-action{
		width: initial;
		margin-right: 10px;
		a{
			text-transform: uppercase;
		}
	}
}
.detail-uiux-website{
	ul {
		display: inline-block;
		width: 100%;
		li{
			list-style: none;
			float: left;
			width: 30%;
			a{
				margin-bottom: 10px;
				display: inline-block;
				&:hover{
					color: $text-alpha;
				}
			}
		}
	}
}
#id-du-an-hoan-thanh{
	.btn-common-fill{
		max-width: 420px;
		width: 100%;
	}
}
.list-sp-hoan-thien{
	margin: 30px 0;
	display: inline-block;
	li{
		list-style: none;
		float: left;
		margin-bottom: 15px;
		width: 50%;
		img{
			width: 100%;
			//height: 595px;
			border-radius: 2px 2px 0 0;
		}

	}
}
.section-same-project{
	.list-du-an-hoan-thanh .avatar-thumb a{
		padding-top: 60%;
	}
	.item-news{
		border: 1px solid $border;
		 border-radius: 4px;
		 .info-news {
			padding: 15px;
		}
		
		
	}
	
}
/* ----------- Quy trinh thuc hien  ---------*/
.how-we-work{
	display: inline-block;
	width: 100%;
	padding: 50px 0 100px 0;
	.container{
        position: relative;
        
	}
	ul{
		margin-top: 110px;
		position: relative;
		li{
			float: left;
			padding: 0 5px;
			width: 12.5%;
			list-style: none;
			.item-how-work{
			  background: white;
			  box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
			  padding:15px 5px;
			  text-align: center;
			  img{
				  height: 53px;
				  margin-bottom: 15px;
			  }
			  h4{
				  font-size: 13px;
				  color: $text;
				  height: 53px;
			  }
			}
			&:nth-child(odd){
				margin-top: -30px;
			}
		}
	}
}
.img-background {
    position: absolute;
    top: 100px;
    left: 55px;
	width: 100%;
	img {
		width: 1050px;
		height: 309px;
	}
}
/* ----------- Công cụ sử dụng  ---------*/
.section-cong-cu-sd{
	.list-doi-tac {
		margin: 30px 0 10px 0;
		img{
			border: 0;
			height: 50px;
			
		}
	}
}
.list-du-an-hoan-thanh{
	margin-top: 30px;
	.avatar-thumb a{
		padding-top: inherit !important;
		img{
			position: inherit !important;
		}
	}
}

.section-request{
	padding: 70px 0;
	.section-bg-logo{
		.title-section{
			
			p{
				max-width: 700px;
				margin: 0 auto;
			}
		}
		.bg-logo {
			height: 320px;
		}
	} 
}
.modal-gui-yeu-cau{
	.btn-common-fill{
		width: 100%;
	}
	.file-upload-w-file-name [type=file] + label{
		width: fit-content;
	}
	.file-upload-w-file-name [type=file] + label img {
		margin-right: 0;
	}
}
/*----------------- Page about -----------------*/
.slider-csvc-about{
	position: relative;
	.item__third{
		padding: 0 20px;
	}
	.carousel-indicators{
		display: none;
	}
	.carousel-control-prev {
		left: 300px;
		background: transparent;
	}
	.carousel-control-prev-icon {
		background-image: url(../images/arrow-left-pro.svg);
		width: 50px;
		height: 50px;
	}
	.carousel-control-next {
		right: 300px;
		background: transparent;
	}
	.carousel-control-next-icon {
		background-image: url(../images/arrow-right-pro.svg);
		width: 50px;
		height: 50px;
	}
	
}
$fragment_width: 25%;

.show-neighbors {
  overflow: hidden;

  .item__third:first-child, 
  .item__third:last-child {
    display: none;
  }

  @media (min-width: 500px) {
    .carousel-indicators {
      margin-right: $fragment_width;
      margin-left: $fragment_width;
    }

    .carousel-control-prev, 
    .carousel-control-next {
     // background: rgba(255, 255, 255, 0.3);
      width: $fragment_width;
      z-index: 11;  /* .carousel-caption has z-index 10 */
    }

    .carousel-inner {
      width: (100% - 2 * $fragment_width) * 3;
      left: 3 * $fragment_width - 100%;
    }

    .carousel-item-next:not(.carousel-item-left),
    .carousel-item-right.active {
      -webkit-transform: translate3d(33%, 0, 0);
      transform: translate3d(33%, 0, 0);
    }

    .carousel-item-prev:not(.carousel-item-right),
    .carousel-item-left.active {
      -webkit-transform: translate3d(-33%, 0, 0);
      transform: translate3d(-33%, 0, 0);
    }

    .item__third {
      display: block !important;
      float: left;
      position: relative;  /* captions can now be added */
      width: 33.33333333%;
    }
  }
}
.slider-csvc-about button.owl-prev{
	left: 50px !important;
	top: 40%;
}
.slider-csvc-about button.owl-next{
	right: 50px !important;    
	top: 40%;
}
.section-intro-about{
	align-items: center;
	img{
		width: 100%;
	}
	p{
		text-align: justify;
	}
}
.list-info-value{
	margin-bottom: 0;
	.title-value{
		font-size: 22px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	p{
		font-size: 14px;
	}
	li{
		padding-left: 55px;
		position: relative;
		margin: 14px 0 0 0;
		list-style: none;
		display: inline-block;
		img{
			height: 44px;
			width: auto;
			position: absolute;
			left: 0;
		}
		&:last-child{
			margin-bottom: 0;
			
		}
	}
	
}
.process-section-about{
	padding-bottom: 0;
	.bg-red{
		background-color: $brand;
		position: relative;
		min-height: 500px;
	}
}
.list-process{
	background-color: $brand;
	padding: 30px 80px 0 80px;
	color: white;
	align-items: flex-end;
	position: absolute;
	bottom: 0;
	display: flex;
	.item-process{
		border-left: 1px dashed white;
		position: relative;
		padding: 20px 30px 30px 30px;
		.about-procees1{
			font-size: 22px;
			position: absolute;
			top: -50px;
			left: -10px;
			&::before{
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: #fff;
				border-radius: 50%;
				position: absolute;
				top: 30px;
			}
		}
		&:nth-child(2){
			padding: 60px 30px;
		}
		&:nth-child(3){
			padding: 70px 30px 100px;
		}
		&:nth-child(4){
			padding: 120px 30px 150px;
		}
	}
	
}
.info-process{

	img{
		margin-bottom: 10px;
		height: 60px;
	}
	p{
		margin-bottom: 0;
		font-size: 14px;
	}
}
.img-full-process{
	width: 100%;
}
.list-doi-ngu{
	.avatar-thumb a {
		margin-bottom: 15px;
		padding-top: 136%;
		img{
			border-radius: 4px;
		}
	}
	p{
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 0;
	}
	span{
		color: $text-alpha;
		font-size: 14px;
	}
	.info-member{
		margin-bottom: 10px;
	}
}
/* ----------- Custom rating  ---------*/
.list-img-rating{
	svg{
		width: 18px;
		height: 18px;
		margin-right: 5px;
		&.star-red{
		
			path{
				fill: $brand;
			}
		}
		&.star-none-rate{
			path{
				fill: #ccc;
			}
		}
	}
}

.list-img-rating {
	display: flex;
	align-items: center;

	.total-point {
		font-weight: 500;
		color: $brand;
		font-weight: 500;
		font-size: 15px;
	}
	span.text-alpha{
		font-size: 14px;
		margin-left: 3px;
	}
}

.rating-bar {
	display: inline-block;
	width: 100%;
	.list-img-rating svg{
		width: 18px;
		height: 18px;
	}
	.total-point{
		font-size: 14px !important;
		margin-right: 3px;
		color: $text;
		font-weight: normal;
	}
	.middle {
		align-items: center;
		display: flex;
		width: 288px;
		margin: 5px 0px;

		span {
			padding-right: 10px;
			margin-bottom: -8px;
			display: flex;
			align-items: center;

			img {
				height: 12px;
				margin-left: 5px;
			}
		}

		.star-right {
			margin-left: 10px;
			color: $text-alpha;
		}

	}

	/* Clear floats after the columns */
	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	/* The bar container */
	.bar-container {
		height: 12px;
		width: 240px;
		text-align: center;
		color: white;
		background: #EBEEF2;
		border-radius: 2px;
	}

	/* Individual bars */
	.bar-5 {
		width: 100%;
		height: 12px;
		background: $brand;
		border-radius: 2px;
	}

	.bar-4 {
		width: 80%;
		height: 12px;
		background: $brand;
		border-radius: 2px;
	}

	.bar-3 {
		width: 60%;
		height: 12px;
		background: $brand;
		border-radius: 2px;
	}

	.bar-2 {
		width: 20%;
		height: 12px;
		background: $brand;
		border-radius: 2px;
	}

	.bar-1 {
		width: 2%;
		height: 12px;
		background: $brand;
		border-radius: 2px;
	}
}

.rate {
	padding: 0 10px;
	label{
		margin-bottom: 0 !important;
	}
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:24px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: $brand;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: $brand;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: $brand;
}

/* ---------------------------Custom tooltip ------------------------------- */
.tooltip {
	opacity: 1;
	position: relative;
	display: inline-block;
	cursor: pointer;

	img {
		height: 20px;
	}
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 230px;
	color: $text;
	text-align: left;
	padding: 14px;
	background: #FFFFFF;
	box-shadow: 0px -1px 16px rgba(0, 0, 0, 0.13);
	border-radius: 4px;
	position: absolute;
	left: 20px;
	top: 0;
	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}
.section-detail-list{
	.tab-system{
		border: 1px solid $border;
	}
	.nav-tabs .nav-link{
		background-color: #F5F7FA;
		width: 33.3%;
		text-align: center;
		color: $text;
		font-weight: 600;
		padding: 10px;
		&:hover{
			border-color: transparent;
		}
		&.active{
			border-bottom: 1px solid $brand !important;
			color: $brand;
			background-color: white;
		}
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
		border: 0;
	}
	.tab-content{
		padding: 30px;
	}
	.rating-social{
		display: flex;
		align-items: center;
		.like-share{
			display: inline-block;
			height: 20px;
			margin-left: 20px;
		}
	}
	
}
.lien-he-mua{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0;
	span{
		color: $brand;
		font-size: 16px;
	}
}
.noti-kh{
	color: #4EA52F;
	margin-top: 20px;
	justify-content: left;
	img{
		margin-right: 5px;
		height: 14px;
	}
}
.box-tab-info-product-mb{
	display: none;
}
.page-detail-list {
	.list-info-item li svg {
		path {
			fill: #CACACA;
		}
	}

	.mini-cart {
		p {
			text-align: justify;
		}

		.title-lagre {
			.price-item {
				font-size: 26px;
			}

			.price-sale {
				font-size: 20px;
				margin: 10px;
			}
		}

		.number {
			width: 100%;
			height: 45px;
			justify-content: space-around;

			span {
				font-size: 30px;
			}
		}
	}

	.mini-cart.mini-cart-right {
		padding: 0;
	}
	
}

.modal-show-full-img {
	
	.owl-dots{
		display: none;
	}
	.detail-rating {
		padding-left: 60px;
		img{
			width: 45px;
			height: 45px;
		}
		.detail-rating-right {
			
			p{
				padding-right: 10px;
				&.name-user-rating{
					padding-right: 0;
				}
			}
		}
	}
	button{
		height: auto;
	}
	.modal-dialog {
		max-width: 1100px;
	}
	.owl-prev, .owl-next {
		top: 45%;
		width: 25px;
		height: 25px;
	}
	.owl-next{
		right: -30px;
	}
	.owl-prev{
		left: -30px;
	}
	.detail-rating {
		border-bottom: 0;
	}

	.avatar-thumb {
		margin-right: 30px;

		a {
			img {
				border-radius: 4px;
			}
		}
	}
}

/*   ----------------------- Custom upload file  ------------------------------*/
.choose-img-upload {
	position: relative;

	label {
		width: 60px;
		height: 60px;
		position: relative;
		text-align: center;
		display: flex;
		border: 1px solid $border;
		position: relative;
		border-radius: 4px;
		align-items: center;
		justify-content: center;
		font-weight: normal;
		cursor: pointer;

	}

	input[type="file"] {
		display: none;
	}
}

.text-note-upload {
	margin: 10px 0;
	color: $text-alpha;
	display: inline-block;
}

.selected-img-upload {
	.close-img {
		position: absolute;
		left: 0;
		top: -10px;
		height: 25px;
		cursor: pointer;
	}

	.img-selected {
		width: 60px;
		height: 60px;
		border-radius: 4px;
		border: 1px solid #E5E5E5;
	}
}


/* --------------------------- Custom tab content ------------------------------- */
.tab-custom {
	.tab-content {
		margin: 20px 20px 0 10px;

	}

	.nav-tabs {
		border: 0;
		display: flex;
		overflow-x: scroll;
		height: auto;
		white-space: nowrap;
		width: 100%;
		flex-wrap: unset;
		justify-content: left;

		.nav-link {
			color: $text;
			border: 0;
			padding: 10px 25px;
			font-size: 16px;
			font-weight: 600;

			&.active {
				background-color: transparent;
				border-bottom: 2px solid $brand;
				color: $brand;
			}
		}
	}
}

/* --------------------------- Pagging ------------------------------- */
.pagging-page {
	width: 100%;

	.pagination {
		margin-top: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}

	ul {
		li {

			a,
			span {
				width: 32px;
				height: 32px;
				margin: 0 10px;
				text-align: center;
				font-size: 14px;
				display: inline-block;
				text-decoration: none;
				color: $text-alpha;
				padding: 4px;
				font-weight: 500;


				&.active {
					color: $brand;
					border: 1px solid $brand;
					padding-top: 5px;
				}
			}

			&:hover {
				a {
					color: white;
					background-color: $brand;
				}
			}
		}
	}
}

/* --------------Checkbox-------------------- */

.input-custom {
	display: none;
}

.label-custom {
	color: $text;
	line-height: 1.2;
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	align-items: center;
	margin-bottom: 15px;
	font-weight: normal !important;
	font-size: 14px;
	&:checked {
		color: $brand  !important;
	}

	&:before {
		content: "\e64c";
		font-family: "themify";
		font-size: 14px;
		color: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 20px;
		height: 20px;
		opacity: 1;
		border: 1px solid $border;
		box-sizing: border-box;
		border-radius: 2px;
		left: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.label-custom {
	&:checked {
		color: $text  !important;
	}
}

.input-custom:checked+.label-custom::before {
	color: white;
	background-color: $brand;
	border: 1px solid $brand;
}

.input-custom:checked+.label-custom {
	color: $brand  !important;

}

/* check-radio-custom */

.check-radio-custom {
	margin: 5px 0 15px 0;
	display: flex;
}

// .check-radio-custom [type="radio"]:checked+label {
// 	color: $brand  !important;
// }

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.check-radio-custom [type="radio"]:checked+label,
.check-radio-custom [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	display: inline-block;
	color: $text;
	margin-bottom: 0;
	font-size: 14px;
}

.check-radio-custom [type="radio"]:checked+label:before,
.check-radio-custom [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	width: 18px;
	height: 18px;
	border: 1px solid $text-alpha;
	border-radius: 100%;
	background: #fff;
}

.check-radio-custom [type="radio"]:checked+label::before {
	border: 1px solid $brand  !important;
}

.check-radio-custom [type="radio"]:checked+label:after,
.check-radio-custom [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: $brand;
	position: absolute;
	top: 6px;
	left: 3px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.check-radio-custom [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.check-radio-custom [type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.check-radio-custom p {
	margin: 0 20px;
}

/* Custom select box */
.custom-select {
	height: 40px;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid $border;
	position: relative;
	padding: 0;
	background: none;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	content: "\e64b";
	font-family: 'themify';
	color: #ABABAB;
	top: 10px;
	right: 25px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: $text;
	padding: 8px 16px;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 14px;
}

/* Style items (options): */
.select-items {
	padding: 15px 0;
	overflow-y:auto;
	width: 100%;
	position: absolute;
	background-color: #fff;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
	border-radius: 2px;
	max-height: 250px;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: #f8f9fa73;
}
/* Loading page */
.tab-page-list{
	position: relative;
	nav{
		margin-left: -8px;
	}

}
.spinner-container {
	height: 100%;
	z-index: 99999;
	text-align: center;
	background-color:#ffffff;
	opacity: 0.7;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
  .spinner {
	
	border: 3px solid #C4C8D3; 
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 45%;
	border-radius: 50%;
	border-right: 3px solid $brand;
	text-align:center;
	animation-name: spin;
	animation-duration: 900ms;
	animation-iteration-count: infinite;
	/*animation-timing-function: linear; /*linear spin */
	animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
  }
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	/*50% {width:24px;height:24px} /*shrinking effect*/
	100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
	0% { -webkit-transform: rotate(0deg);}
   /*50% {width:24px;height:24px} /*shrinking effect*/
	100% { -webkit-transform: rotate(360deg); }
  }
  
}
.section-ux-research .list-print .item-print .title-item-print, .section-red-full .list-print .item-print .title-item-print{
min-height: 40px;
}
.box-info-product-bottom .description-body{
	img{
		width: 100%;
	}
}
.title-footer-bottom{
	text-transform: uppercase;
	padding-left: 20px;
	margin-bottom: 5px;
}
footer .footer-bottom{
	.info-right-ft{
		padding-left: 5px;
	}
	span:first-child{
		padding-right: 10px;
	}
} 