<footer>
   <div class="container">
      <div class="row footer-top">
         <div class="col-md-2">
            <h6 class="title-footer"><a href="page-list.html">Dịch vụ online</a></h6>
            <ul class="mt-20">
               <li>
                  <a href="page-list.html">Phát triển website</a>
               </li>
               <li>
                  <a href="page-list.html">Phát triển App mobile</a>
               </li>
               <li>
                  <a href="page-list.html">Landing page</a>
               </li>
               <li>
                  <a href="page-list.html">UI UX Design</a>
               </li>
               <li>
                  <a href="#">Cắt HTML CSS</a>
               </li>
            </ul>
         </div>
         <div class="col-md-2">
            <h6 class="title-footer"><a href="page-list.html">In ấn</a></h6>
            <ul class="mt-20">
               <li>
                  <a href="page-list.html">Thiết kế namecard</a>
               </li>
               <li>
                  <a href="page-list.html">Thiết kế tờ rơi</a>
               </li>
               <li>
                  <a href="page-list.html">Thiết kế backdrop</a>
               </li>
               <li>
                  <a href="page-list.html">Thiết kế menu</a>
               </li>
               <li>
                  <a href="page-list.html">Thiết kế thiệp</a>
               </li>
            </ul>
         </div>
         <div class="col-md-2">
            <h6 class="title-footer"><a href="page-list.html">Nhận dạng thương hiệu</a></h6>
            <ul class="mt-20">
               <li>
                  <a href="page-list.html">Thiết kế logo</a>
               </li>
               <li>
                  <a href="page-list.html">Thiết kế đồng phục</a>
               </li>
               <li>
                  <a href="page-list.html">Thiết kế bao bì nhãn mác</a>
               </li>
               <li>
                  <a href="page-list.html">Thiết kế phong bì</a>
               </li>
            </ul>
         </div>
         <div class="col-md-2">
            <h6 class="title-footer"><a href="#">Theo mẫu</a></h6>
            <ul class="mt-20">
               <li>
                  <a href="page-list.html">Landingpage</a>
               </li>
               <li>
                  <a href="page-list.html">Website</a>
               </li>
               <li>
                  <a href="page-list.html">Banner</a>
               </li>
               <li>
                  <a href="page-list.html">Thiệp</a>
               </li>
            </ul>
         </div>
         <div class="col-md-2">
            <h6 class="title-footer"><a href="#">Công ty</a></h6>
            <ul class="mt-20">
               <li>
                  <a href="page-about.html">Giới thiệu</a>
               </li>
               <li>
                  <a href="#">Tuyển dụng</a>
               </li>
               <li>
                  <a href="page-news.html">Tin tức</a>
               </li>
               <li>
                  <a href="page-contact.html">Liên hệ</a>
               </li>
               <li>
                  <a href="page-faqs.html">FAQs</a>
               </li>
               <li>
                  <a href="page-policy.html">Chính sách bảo mật</a>
               </li>
               <li>
                  <a href="#">Đặt dịch vụ & Thanh toán</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="line-footer"></div>
   <div class="container">
      <div class=" footer-bottom">
         <div class="info-footer-bottom">
            <img class="logo-footer" src="images/logo.svg">
         </div>
         <h5 class="title-footer-bottom">công ty tnhh giải pháp công nghệ ari</h5>
         <div class="info-right-ft">
            <span class="text-alpha hotline-footer" href="#">MST:0317748820</span>
            <span class="text-alpha hotline-footer" href="tel:093-8899-078"><img
                  src="images/ic-phone-ft.svg">093-8899-078</span>
            <span class="text-alpha hotline-footer" href="#"><img src="images/ic-mail-ft.svg">info@aridesign.io</span>
            <div class="flex-center info-footer-bottom text-alpha">
               <div class="social-footer">
                  <a href="#"><img src="images/social-be.svg"></a>
                  <a href="#"><img src="images/social-dirbble.svg"></a>
                  <a href="#"><img src="images/social-yt.svg"></a>
               </div>
               <img src="images/img-footer.svg">
            </div>
         </div>
         <span class="text-alpha hotline-footer"><img src="images/ic-map-ft.svg">88/57 Phan Sào Nam, Phường 11 , Quận
            Tân Bình, Thành phố Hồ Chí Minh, Việt Nam</span>
      </div>
   </div>
   <!-- Modal dang nhap-->
   <div id="dang-nhap" class="modal fade modal-dang-nhap" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title mt-10 mb-0">Đăng nhập</h4>
               <button type="button" class="close" data-dismiss="modal"><i class="ti-close"></i></button>
            </div>
            <div class="modal-body">
               <div class="google-button flex-center">
                  <a href="#"><img src="images/icon-gg.svg">Đăng nhập với Google</a>
               </div>
               <div class="border-line">
                  <span>hoặc</span>
               </div>
               <form>
                  <div class="form-group">
                     <label>Email</label>
                     <input type="email" name="email" id="email">
                  </div>
                  <div class="form-group">
                     <label>Mật khẩu</label>
                     <input type="password" name="password" id="password">
                  </div>
                  <a class="quen-mk text-alpha" href="#" data-toggle="modal" data-target="#forget-pw">Quên mật
                     khẩu?</a>
                  <div class="btn-action mt-20">
                     <button type="submit" class="btn-common-fill submit-dang-nhap">Đăng nhập</button>
                  </div>
               </form>
               <p class="mt-20 mb-0 center">Bạn là thành viên mới? <a href="#" class="text-brand">Đăng ký</a></p>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal dang ky-->
   <div id="dang-ky" class="modal fade modal-dang-nhap modal-dang-ky" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title mt-10 mb-0">Đăng ký</h4>
               <button type="button" class="close" data-dismiss="modal"><i class="ti-close"></i></button>
            </div>
            <div class="modal-body">
               <div class="flex-center two-filed-col">
                  <div class="form-group">
                     <label>Tên</label>
                     <input type="text" name="" id="">
                  </div>
                  <div class="form-group">
                     <label>Số điện thoại</label>
                     <input type="number" name="" id="">
                  </div>
               </div>
               <form>
                  <div class="form-group">
                     <label>Email</label>
                     <input type="email" name="email" id="email">
                  </div>
                  <div class="form-group">
                     <label>Mật khẩu</label>
                     <input type="password" name="password" id="password">
                  </div>
                  <div class="btn-action mt-20">
                     <button type="submit" class="btn-common-fill submit-dang-nhap">Đăng ký</button>
                  </div>
               </form>
               <p class="mt-20 mb-0 center">Bạn đã có tài khoản? <a href="#" class="text-brand">Đăng nhập</a></p>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- Call to action zalo, mess -->
<div class="call-to-action">
   <a href="tel:1900000">
      <div class="ring img-hot-line">
         <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
            <div class="coccoc-alo-ph-circle"></div>
            <div class="coccoc-alo-ph-circle-fill"></div>
            <div class="coccoc-alo-ph-img-circle "></div>
         </div>
      </div>
   </a>
   <a href="https://zalo.me/0938899078">
      <div class="ring img-zalo">
         <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
            <div class="coccoc-alo-ph-circle"></div>
            <div class="coccoc-alo-ph-circle-fill"></div>
            <div class="coccoc-alo-ph-img-circle "></div>
         </div>
      </div>
   </a>
   <a href="https://m.me/aridesign.io">
      <div class="ring img-mess">
         <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
            <div class="coccoc-alo-ph-circle"></div>
            <div class="coccoc-alo-ph-circle-fill"></div>
            <div class="coccoc-alo-ph-img-circle "></div>
         </div>
      </div>
   </a>
</div>