<!-- Header -->
<header>
   <div class="content-head-left">
      <div class="logo">
         <a href="index.html"><img src="images/logo.svg" alt=""></a>
      </div>
      <div class="menu">
         <nav>
            <ul>
               <li class="no-sub">
                  <a href="page-banner.html">Banner</a>
               </li>
               <li class="no-sub">
                  <a href="page-list-print.html">In ấn</a>
               </li>
               <li class="no-sub">
                  <a href="page-list-branding.html">Branding</a>
               </li>
               <li class="no-sub">
                  <a href="page-list-ui-ux.html">UI UX</a>
               </li>
               <li class="no-sub">
                  <a href="page-website.html">Website</a>
               </li>
               <li class="no-sub">
                  <a href="page-app-mobile.html">App Mobile</a>
               </li>
               <li class="no-sub">
                  <a href="page-landing-page.html">Landing page</a>
               </li>
               <li class="no-sub">
                  <a href="page-html-css.html">HTML CSS</a>
               </li>
               <li class="no-sub">
                  <a href="page-list-video.html">Video</a>
               </li>
               <li class="no-sub">
                  <a href="page-list-game.html">Game</a>
               </li>
               <li class="no-sub">
                  <a href="page-list-template.html">Template</a>
               </li>
               <li class="no-sub">
                  <a href="page-list-project.html">Dự án</a>
               </li>
               <li class="no-sub">
                  <a href="page-list-service.html"> Dịch vụ</a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
   <div class="content-head-right">
      <div class="hotline">
         <a class="text-brand flex-center" href="tel:0938899078"><img src="images/icon-hotline.svg">093-8899-078</a>
      </div>
      <div class="btn-action btn-start-project">
         <a href="#" class="btn-common-fill" data-toggle="modal" data-target="#gui-yeu-cau">Bắt đầu dự án</a>
      </div>
      <div class="account no-login">
         <a class="title-acc">
            <img class="avatar-acc" src="images/ava-account.svg">
            <span>Tài khoản</span>
            <i class="ti-angle-down"></i>
         </a>
         <div class="dropdown-avatar">
            <a class="btn-common-fill" href="#" data-toggle="modal" data-target="#dang-nhap">Đăng nhập
            </a>
            <a class="btn-common-line" href="#" data-toggle="modal" data-target="#dang-ky">Đăng ký
            </a>
         </div>
      </div>
      <div class="account done-login" style="display: none;">
         <a class="title-acc">
            <img class="avatar-acc" src="images/ava-login.svg">
            <span>Phong Tran</span>
            <i class="ti-angle-down"></i>
         </a>
         <div class="dropdown-avatar">
            <div class="profile-name">
               <p class="fw-bold mb-0">Phong Tran</p>
               <span class="text-alpha">bigsui02@gmail.com</span>
            </div>
            <a href="page-account.html"><img src="images/my-acc.svg"> Tài khoản của tôi
            </a>
            <a href="page-account.html"><img src="images/my-shoppingcart.svg">Đơn hàng
            </a>
            <a href="#" data-toggle="modal" data-target="#dang-nhap"><img src="images/logout.svg">Thoát
            </a>
         </div>
      </div>
   </div>
   <div class="menu-mobile">
      <i class="ti-align-left open-menu"></i>
      <i id="close-menu" class="ti-close close-menu"></i>
   </div>
</header>
<!-- header 2 -->
<div class="header2">
   <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
   </div>
</div>
<!-- Call to action zalo, mess -->
<div class="call-to-action">
   <a href="https://zalo.me/0938899078">
      <div class="ring img-zalo">
         <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
            <div class="coccoc-alo-ph-circle"></div>
            <div class="coccoc-alo-ph-circle-fill"></div>
            <div class="coccoc-alo-ph-img-circle "></div>
         </div>
      </div>
   </a>
   <a href="https://m.me/aridesign.io">
      <div class="ring img-mess">
         <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
            <div class="coccoc-alo-ph-circle"></div>
            <div class="coccoc-alo-ph-circle-fill"></div>
            <div class="coccoc-alo-ph-img-circle "></div>
         </div>
      </div>
   </a>
</div>